resources/odd/ssrq-print.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:nontei="http://ssrq-sds-fds.ch/ns/nonTEI" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model for SSRQ</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="ssrq-print" source="teipublisher.odd">
                <elementSpec ident="TEI" mode="change">
                    <model behaviour="section">
                        <param name="title" value="teiHeader/fileDesc/titleStmt/title/node()"/>
                        <param name="content" value="(teiHeader/fileDesc/sourceDesc/msDesc/msContents/summary, text/back, text/(group|body))"/>
                        <pb:template>
                            \documentclass[10pt,twoside]{article}
                            
                            \usepackage{ssrq}			% here's all the magic...
                            
                            \begin{document}
                            
                            % Variablen für Kopfzeile
                            \def\volume{[[title]]}
                            \def\volid{\url{https://www.ssrq-sds-fds.ch/online/tei/SG/SSRQ_SG_III_4_14510101B_1.xml}}
                            
                            \linenumbers				% Zeilennummern
                            \normalsize					% normale Grösse, d.h. Quellentext (source) ist 10pt
                            
                            \thispagestyle{firstpage}
                            [[content]]
                            \end{document}
                        </pb:template>
                    </model>
                </elementSpec>
                <elementSpec ident="body">
                    <model behaviour="block">
                        <pb:template>\begin{source}[[content]]\end{source}</pb:template>
                    </model>
                </elementSpec>
                <elementSpec ident="summary" mode="add">
                    <model behaviour="block">
                        <pb:template>\begin{summary}[[content]]\end{summary}</pb:template>
                    </model>
                </elementSpec>
                <elementSpec ident="back" mode="change">
                    <model behaviour="block">
                        <pb:template>\begin{intro}[[content]]\end{intro}</pb:template>
                    </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model behaviour="inline">
                        <param name="label" value="ec:increment-counter('note')"/>
                        <pb:template>\ednote[[[label]]]{[[content]]}</pb:template>
                    </model>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model predicate="@n" behaviour="block">
                        <param name="content" value="('[', @n, '] ', .)"/>
                        <pb:template>\noindent [[content]]\vspace{1mm}</pb:template>
                    </model>
                    <model predicate=". is (ancestor::quote[1]/seg[1])" behaviour="inline">
                        <desc>Force « on same line, cf. quote</desc>
                    </model>
                    <model predicate=". is (ancestor::quote[1]/seg[last()])" behaviour="inline">
                        <desc>Force » on same line, cf. quote</desc>
                    </model>
                    <model predicate=". is (ancestor::quote[1]/seg[last()-1])" behaviour="block">
                        <desc>Add missing margin</desc>
                        <outputRendition>
                            
                            margin-top: 1ex;
                            margin-bottom: 1ex;
                            
                        </outputRendition>
                    </model>
                    <model behaviour="block">
                        <outputRendition>
                            margin-top: 1ex;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="orig" mode="change">
                    <model behaviour="inline">
                        <pb:template>\textup{[[content]]}</pb:template>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
