resources/odd/ssrq.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:nontei="http://ssrq-sds-fds.ch/ns/nonTEI" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model for SSRQ</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="ssrq" source="teipublisher.odd">
                <elementSpec ident="lb" mode="change">
                    <model predicate="preceding-sibling::node()[1][self::pb]" behaviour="omit"/>
                    <model predicate=". is (./ancestor::div[1]//lb[1])" behaviour="omit"/>
                    <modelSequence predicate="@break='no'">
                        <model behaviour="inline">
                            <outputRendition scope="before">
                                content: '-';
                            </outputRendition>
                        </model>
                        <model behaviour="break">
                            <param name="type" value="'page'"/>
                            <param name="label" value="@n"/>
                            <outputRendition>
                                display: block;
                            </outputRendition>
                        </model>
                    </modelSequence>
                    <model behaviour="break">
                        <param name="type" value="'line'"/>
                        <param name="label" value="@n"/>
                    </model>
                </elementSpec>
                <elementSpec ident="figure" mode="change">
                    <model behaviour="inline">
                        <param name="content" value="ec:translate(@type, 0, 'uppercase')"/>
                        <outputRendition scope="before">
                            content: '[';
                        </outputRendition>
                        <outputRendition scope="after">
                            content: '] ';
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="signed" mode="change">
                    <model behaviour="block">
                        <param name="content" value="('[', ec:label('signed'), ':] ', .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model output="plain" predicate="sic and corr" behaviour="inline">
                        <param name="content" value="corr[1]"/>
                    </model>
                    <model output="plain" predicate="abbr and expan" behaviour="inline">
                        <param name="content" value="expan[1]"/>
                    </model>
                    <model output="plain" predicate="orig and reg" behaviour="inline">
                        <param name="content" value="reg[1]"/>
                    </model>
                    <model predicate="sic and corr" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="sic"/>
                        <param name="alternate" value="(( ec:label('corrected'), ': '), corr)"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="abbr and expan" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="abbr[1]"/>
                        <param name="alternate" value="(ec:label('abbr-expanded'), ': ', expan[1])"/>
                    </model>
                    <model predicate="orig and reg" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="orig[1]"/>
                        <param name="alternate" value="reg[1]"/>
                    </model>
                </elementSpec>
                <elementSpec ident="expan" mode="change">
                    <!--<model predicate="parent::choice" behaviour="inline">
                        <param name="content" value="ec:label('abbr-expanded')"/>
                    </model>
                    -->
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="abbr" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <model predicate="unclear" behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('abbr-unclear')"/>
                    </model>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('abbr')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="unclear" mode="change">
                    <model predicate="parent::del or parent::abbr or parent::corr" behaviour="inline"/>
                    <model predicate="parent::damage" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:translate( parent::damage/@agent), ', ', ec:label('unclear-rdg', false()))"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="ec:label('unclear-rdg')"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="corr" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('corr')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="sic" mode="change">
                    <model predicate="parent::choice and count(parent::*/*) gt 1" behaviour="inline"/>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('sic')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="orig" mode="change">
                    <model behaviour="inline" cssClass="orig"/>
                </elementSpec>
                <elementSpec ident="origDate" mode="add">
                    <model predicate="$parameters?header='short' and @from" behaviour="inline">
                        <desc>Called to output the sigle of a document</desc>
                        <param name="content" value="(format-date(xs:date(@from), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()), ' - ', format-date(xs:date(@to), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()))"/>
                    </model>
                    <model predicate="$parameters?header='short'" behaviour="inline">
                        <desc>Called to output the sigle of a document</desc>
                        <param name="content" value="format-date(xs:date(@when), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ())"/>
                    </model>
                    <model predicate="parent::origin and @from" behaviour="listItem">
                        <desc>Ausgabe in "weitere Überlieferungen"</desc>
                        <param name="content" value="(ec:label('origDate'), ': ', format-date(xs:date(@from), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()), ' - ', format-date(xs:date(@to), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()))"/>
                    </model>
                    <model predicate="parent::origin" behaviour="listItem">
                        <desc>Ausgabe in "weitere Überlieferungen"</desc>
                        <param name="content" value="(ec:label('origDate'), ': ', format-date(xs:date(@when), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()))"/>
                    </model>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('origDate'), ': ', ec:format-date(@when))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="add" mode="change">
                    <model predicate="parent::subst" behaviour="inline"/>
                    <model predicate="@hand='later hand'" behaviour="note" cssClass="text-critical">
                        <desc>Show footnote only</desc>
                        <param name="content" value="(ec:span((ec:label('add'), ' ', string-join((ec:translate(@place, 0, 'lowercase'), ec:translate(@hand, 0, 'lowercase'), ec:translate(@rend, 0, 'lowercase'), ec:translate(@type, 0, 'lowercase')), ' '), if (@scribe) then (' ', ec:label('by', false()), ec:scribe(@scribe)) else (), text{': '})), .)"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model behaviour="alternote">
                        <desc>Show text of add with popup and footnote</desc>
                        <param name="alternate" value="(ec:span((ec:label('add'), ' ', string-join((ec:translate(@place, 0, 'lowercase'), ec:translate(@hand, 0, 'lowercase'), ec:translate(@rend, 0, 'lowercase'), ec:translate(@type, 0, 'lowercase')), ' '))), if (@scribe) then (' ', ec:label('by', false()), ec:scribe(@scribe)) else ())"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="."/>
                    </model>
                    <model predicate="@type='catchword'" behaviour="alternote">
                        <desc>Show text of add with popup and footnote</desc>
                        <param name="alternate" value="(ec:span((ec:label('add'), ' ', string-join((ec:translate(@place, 0, 'lowercase'), ', ', ec:translate(@type, 0, 'lowercase'))))))"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="addSpan" mode="change">
                    <model predicate="parent::subst" behaviour="inline"/>
                    <model behaviour="note">
                        <desc>with @hand: just show footnote</desc>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="content" value="(ec:label('add'), ' ', string-join((ec:translate(@place, 0, ()), ec:translate(@hand, 0, 'lowercase'), ec:translate(@rend, 0, 'lowercase')), ' '), if (@scribe) then (' ', ec:label('by', false()), ec:scribe(@scribe)) else ())"/>
                        <param name="type" value="'text-critical-start'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model predicate="add/@type='catchword'" behaviour="note">
                        <param name="content" value="(ec:label('del-add'), string-join((ec:translate(add/@place, 0, 'lowercase'), ', ', ec:translate(add/@type, 0, 'lowercase')), ''), text{': '}, add/node())"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="add" behaviour="note">
                        <param name="content" value="(ec:label('del-add'), string-join((ec:translate(add/@place, 0, 'lowercase'), ec:translate(add/@hand, 0, 'lowercase'), ec:translate(add/@rend, 0, 'lowercase'), ec:translate(add/@type, 0, 'lowercase')), ' '), text{': '}, add/node())"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="parent::subst" behaviour="inline"/>
                    <model predicate="gap" behaviour="alternote">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="(ec:translate(@rend), ' ', ec:label('del-gap', false()), ' (', gap/@quantity,' ', ec:translate(gap/@unit,0,()),')')"/>
                        <param name="content" value="'[...]'"/>
                    </model>
                    <model predicate="unclear" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ec:translate(@rend),', ', ec:label('unclear-rdg', false()), ': ', .)"/>
                    </model>
                    <model predicate="@hand and @rend" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ec:translate(@rend), ', ', ec:translate(@hand, 0, ()),': ',.)"/>
                    </model>
                    <model predicate="@hand" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ec:translate(@hand),': ',.)"/>
                    </model>
                    <model predicate="@rend" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="content" value="(ec:translate(@rend), ': ', .)"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="not(@rend)" behaviour="note">
                        <param name="place" value="'footnote'"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ec:label('del'),': ', .)"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="delSpan" mode="change">
                    <model predicate="@hand and @rend" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical-start'"/>
                        <param name="content" value="(ec:translate(@rend),ec:translate(@hand))"/>
                    </model>
                    <model predicate="@hand" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical-start'"/>
                        <param name="content" value="(ec:translate(@hand))"/>
                    </model>
                    <model predicate="@rend" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="content" value="(ec:translate(@rend))"/>
                        <param name="type" value="'text-critical-start'"/>
                    </model>
                    <model predicate="not(@rend)" behaviour="note">
                        <param name="place" value="'footnote'"/>
                        <param name="type" value="'text-critical-start'"/>
                        <param name="content" value="ec:label('del')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="damage" mode="add">
                    <model predicate="gap" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="'[...]'"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="(ec:translate(@agent),' ', ec:label('del-gap', false()),' (', gap/@quantity,' ', ec:translate(gap/@unit, gap/@quantity, ()), ')')"/>
                    </model>
                    <model predicate="unclear" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="unclear/node()"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="(ec:translate(@agent),', ', ec:label('unclear-rdg', false()))"/>
                    </model>
                    <model predicate="supplied/@source" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="supplied/node()"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="concat(ec:translate(@agent),', ', ec:label('supplied-after', false()), ' ', supplied/@source)"/>
                    </model>
                    <model predicate="supplied" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="supplied/node()"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="concat(ec:translate(@agent),', ', ec:label('supplied', false()), ' ', supplied/@source)"/>
                    </model>
                    <model predicate="add" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="add/node()"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="(ec:translate(@agent), ', ', ec:span((ec:label('add'), ' ', string-join((ec:translate(add/@place, 0, 'lowercase'), ec:translate(add/@hand, 0, 'lowercase'), ec:translate(add/@rend, 0, 'lowercase'), ec:translate(add/@type, 0, 'lowercase')), ' '))))"/>
                    </model>
                    <model behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="'[...]'"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="ec:translate(@agent)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="damageSpan" mode="change">
                    <model predicate="@agent" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical-start'"/>
                        <param name="content" value="ec:translate(@agent)"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="anchor" mode="change">
                    <model predicate="exists(root($parameters?root)//*[@spanTo = '#' || $node/@xml:id])" behaviour="notespan-end">
                        <param name="content" value="root($parameters?root)//*[@spanTo = '#' || $node/@xml:id]"/>
                    </model>
                    <model behaviour="anchor">
                        <param name="id" value="@xml:id"/>
                    </model>
                </elementSpec>
                <elementSpec ident="app">
                    <model behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="lem"/>
                        <param name="alternate" value="rdg"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="lem">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="rdg">
                    <model predicate="../gap" behaviour="inline">
                        <desc>app with gap and reading</desc>
                        <param name="content" value="(ec:label('unreadable'), ', ', ec:label('supplied-after', false()), ' ', @wit)"/>
                    </model>
                    <model predicate="empty(../lem/node())" behaviour="inline">
                        <desc>app with empty lemma and reading</desc>
                        <param name="content" value="(ec:label('added-in'), ' ', @wit, ': ', .)"/>
                    </model>
                    <model behaviour="inline">
                        <param name="content" value="(ec:label('alt-rdg-in'), ' ', @wit, ': ', .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="handShift">
                    <model behaviour="note">
                        <param name="place" value="'footnote'"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ec:label('handswitch'), ec:scribe(@scribe))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="@place" behaviour="note">
                        <param name="place" value="@place"/>
                        <param name="label" value="@n"/>
                    </model>
                    <model behaviour="note">
                        <param name="type" value="'note'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='sup'" behaviour="inline">
                        <outputRendition>
                            font-size: 80%; vertical-align: top;
                        </outputRendition>
                    </model>
                    <model predicate="@rend='underline' and @hand" behaviour="alternote">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:label('underlined'), ' ', ec:translate(@hand, 0, 'lowercase'))"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@rend='underline'" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="ec:label('underlined')"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
                        <outputRendition>
                            font-style: italic;
                        </outputRendition>
                    </model>
                    <model predicate="not(@rendition)" behaviour="inline">
                        <outputRendition>
                            font-style: italic;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="space" mode="change">
                    <model behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="text{'...'}"/>
                        <param name="alternate" value="(ec:label('gap-in-orig'), ' (' , @quantity , text{' '} , ec:translate(@unit, @quantity, 'lowercase'), text{')'})"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="gap" mode="change">
                    <model predicate="parent::damage" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="text{'[...]'}"/>
                        <param name="alternate" value="(ec:translate(parent::damage/@agent, 0, 'lowercase'), ' ', ec:label('del-gap'), ' (', @quantity, text{' '}, ec:translate(@unit, @quantity, 'lowercase'), text{')'} )"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@reason='irrelevant'" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="text{'[...]'}"/>
                        <param name="alternate" value="ec:label('irrelevant')"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@reason='illegible'" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="text{'[...]'}"/>
                        <param name="alternate" value="(ec:label('unreadable'), ' (' , @quantity , text{' '} , ec:translate(@unit, @quantity, 'lowercase'), text{')'})"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@source" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="text{'[...]'}"/>
                        <param name="alternate" value="(ec:label('compare'), ' ', @source)"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="desc" behaviour="inline">
                        <outputRendition>
                            color: grey;
                        </outputRendition>
                    </model>
                    <model predicate="@extent" behaviour="inline" cssClass="text-critical">
                        <param name="content" value="@extent"/>
                        <outputRendition scope="before">
                            content: '[..';
                        </outputRendition>
                        <outputRendition scope="after">
                            content: '..]';
                        </outputRendition>
                        <outputRendition>
                            color: grey;
                        </outputRendition>
                    </model>
                    <model behaviour="inline" cssClass="text-critical">
                        <outputRendition scope="before">
                            content: '[...]';
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="foreign" mode="change">
                    <model behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('lang-switch')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="term" mode="change">
                    <model output="web" behaviour="reference" cssClass="semantic term">
                        <desc>Semantic highlighting of keywords and lemmata with dark-red text color</desc>
                        <param name="content" value="."/>
                        <param name="ref" value="@ref"/>
                        <param name="label" value="ec:label('term')"/>
                        <outputRendition>
                            color: #b5221f;
                        </outputRendition>
                    </model>
                    <model behaviour="alternate" cssClass="semantic term">
                        <desc>Semantic highlighting of keywords and lemmata with dark-red text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('term')"/>
                        <outputRendition>
                            color: #b5221f;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model output="web" behaviour="reference" cssClass="semantic person">
                        <desc>Semantic highlighting of person with blue text color</desc>
                        <param name="content" value="."/>
                        <param name="ref" value="@ref"/>
                        <param name="label" value="ec:label('person')"/>
                    </model>
                    <model behaviour="alternate" cssClass="semantic person">
                        <desc>Semantic highlighting of person names with tooltip and blue text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('person')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="orgName" mode="add">
                    <model output="web" behaviour="reference" cssClass="semantic organization">
                        <desc>Semantic highlighting of organization names with tooltip and blue text color</desc>
                        <param name="content" value="."/>
                        <param name="ref" value="@ref"/>
                        <param name="label" value="ec:label('organisation')"/>
                    </model>
                    <model behaviour="alternate" cssClass="semantic organization">
                        <desc>Semantic highlighting of organization names with tooltip and blue text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('organisation')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model output="web" behaviour="reference" cssClass="semantic place">
                        <desc>Semantic highlighting of place names with tooltip and green text color</desc>
                        <param name="content" value="."/>
                        <param name="label" value="ec:label('place')"/>
                        <param name="ref" value="@ref"/>
                        <outputRendition>
                            color: #007e00;
                        </outputRendition>
                    </model>
                    <model behaviour="alternate" cssClass="semantic place">
                        <desc>Semantic highlighting of place names with tooltip and green text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('place')"/>
                        <outputRendition>
                            color: #007e00;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="origPlace" mode="add">
                    <model predicate="parent::origin and node()" behaviour="listItem">
                        <param name="content" value="(ec:label('origPlace'), ': ', .)"/>
                    </model>
                    <model predicate="parent::origin" behaviour="omit">
                        <desc>Leeres Element im header</desc>
                    </model>
                    <model output="web" behaviour="reference" cssClass="semantic place">
                        <desc>Semantic highlighting of origPlace names with tooltip and green text color</desc>
                        <param name="content" value="."/>
                        <param name="label" value="ec:label('origPlace')"/>
                        <param name="ref" value="@ref"/>
                        <outputRendition>
                            color: #007e00;
                        </outputRendition>
                    </model>
                    <model behaviour="alternate" cssClass="semantic place">
                        <desc>Semantic highlighting of origPlace names with tooltip and green text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('origPlace'), ': ', . )"/>
                        <outputRendition>
                            color: #007e00;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="num" mode="change">
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Display number in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('amount'), ': ', @value)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="time" mode="change">
                    <model predicate="@period" behaviour="alternate" cssClass="semantic">
                        <desc>Display time with given parameter in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('duration'), ': ', ec:translate(@period, 0, ()))"/>
                    </model>
                    <model predicate="@when" behaviour="alternate" cssClass="semantic">
                        <desc>Display time with given parameter in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('time'), ': ', format-time(@when, '[H]:[m]'))"/>
                    </model>
                    <model predicate="@dur" behaviour="alternate" cssClass="semantic">
                        <desc>Display time in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('duration'), ': ', ec:format-duration(@dur))"/>
                    </model>
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Display time in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('time')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="measure" mode="change">
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Display measurement with given parameters in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:translate(@type, 0, 'uppercase'), text{': '}, @quantity, text{' '}, ec:translate(@origin, 0, 'lowercase'), text{' '}, ec:translate(@unit, @quantity, 'lowercase'), text{' '}, ec:translate(@commodity, 0, 'lowercase'))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model predicate="following-sibling::node()[1][self::lb]" behaviour="copy">
                        <desc>If followed by an lb, process the lb first, then the pb</desc>
                        <param name="content" value="(following-sibling::lb[1], $node)"/>
                    </model>
                    <modelSequence output="web">
                        <model predicate="@facs" behaviour="graphic" cssClass="facs">
                            <desc>Facsimile image links will be extracted via javascript</desc>
                            <param name="url" value="@facs || '.ptif'"/>
                            <outputRendition>
                                display: none;
                            </outputRendition>
                        </model>
                        <model predicate="ancestor::text and not(preceding::pb[ancestor::text])" behaviour="omit">
                            <desc>Hide the very first pagebreak in a document</desc>
                        </model>
                        <model predicate="not(@*)" behaviour="alternate" cssClass="pb-empty">
                            <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                            <param name="default" value="'|'"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model predicate="number(@n) gt 0" behaviour="alternate" cssClass="pb-pagination">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only contains a number</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model predicate="not(number(@n) gt 0)" behaviour="alternate" cssClass="pb-foliation">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value contains a number+string combination</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                    </modelSequence>
                    <modelGrp output="print">
                        <model predicate="ancestor::text and not(preceding::pb[ancestor::text])" behaviour="omit">
                            <desc>Hide the very first pagebreak in a document</desc>
                        </model>
                        <model predicate="following-sibling::node()[1][self::lb]" behaviour="copy">
                            <desc>If followed by an lb, process the lb first, then the pb</desc>
                            <param name="content" value="(following-sibling::lb[1], $node)"/>
                        </model>
                        <model predicate="not(@*)" behaviour="alternate" cssClass="pb-empty">
                            <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                            <param name="default" value="'|'"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model predicate="number(@n) gt 0" behaviour="alternate" cssClass="pb-pagination">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only contains a number</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model behaviour="alternate" cssClass="pb-foliation">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value contains a number+string combination</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                    </modelGrp>
                </elementSpec>
                <elementSpec ident="q" mode="change">
                    <model behaviour="inline" cssClass="quote-inline" useSourceRendition="true">
                        <desc>Add css class for quotes</desc>
                    </model>
                </elementSpec>
                <elementSpec ident="supplied" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <model predicate="@reason" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:translate(@reason, 0, 'uppercase'), ', ', ec:label('supplied', false()))"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model predicate="@resp" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="ec:label('supplied')"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model predicate="parent::damage and @source" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:translate(parent::damage/@agent, 0, 'uppercase'), text{', '}, if (@reason) then text{ec:translate(@reason, 0, 'lowercase') || ', '} else (), ec:label('supplied-after', false()), ' ', @source)"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model predicate="@source and @reason" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:translate(@reason, 0, 'uppercase'), ec:label('supplied-after', false()), ' ', @source)"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model predicate="@source" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="( ec:label('supplied-after'), ' ', @source)"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model behaviour="inline" cssClass="text-critical">
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="fileDesc" mode="change">
                    <modelSequence predicate="$parameters?header='short'">
                        <desc>Output a short header to be used in document listings</desc>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="titleStmt"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="(seriesStmt, ' ', sourceDesc/msDesc/history/origin/origDate/@when, '(prov.)')"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="sourceDesc/msDesc/head"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="sourceDesc/msDesc/history/origin/origDate"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="editionStmt"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="publicationStmt"/>
                        </model>
                    </modelSequence>
                    <model behaviour="title">
                        <param name="content" value="titleStmt"/>
                    </model>
                </elementSpec>
                <elementSpec ident="seriesStmt" mode="add">
                    <model predicate="$parameters?header='short'" behaviour="inline">
                        <param name="content" value="ec:display-sigle(idno/@xml:id)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="back" mode="change">
                    <desc>back contains the commentary, which should appear as a numbered list</desc>
                    <model predicate="div/@n" behaviour="list">
                        <param name="type" value="'ordered'"/>
                    </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="parent::back and @n" behaviour="listItem">
                        <desc>output as list item if in commentary</desc>
                    </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model behaviour="inline">
                        <param name="content" value="."/>
                    </model>
                </elementSpec>
                <elementSpec ident="ab" mode="change">
                    <model predicate="@place" behaviour="block">
                        <param name="content" value="('[', string-join((ec:translate(@type, 0, 'lowercase'),ec:translate(@place, 0, 'lowercase'),ec:translate(@hand, 0, 'lowercase')), ' '), if (@scribe) then (' ', ec:label('by', false()), ec:scribe(@scribe)) else (), ':] ', .)"/>
                    </model>
                    <model behaviour="paragraph"/>
                </elementSpec>
                <elementSpec ident="subst" mode="change">
                    <model predicate="add/@hand" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="del"/>
                        <param name="alternate" value="(ec:label('del'), ', ', ec:label('replace', false()), ' ', ec:translate(add/@place, 0, 'lowercase'), text{' '}, ec:translate(add/@hand, 0, 'lowercase'), text{': '}, add/node())"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="add" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="add"/>
                        <param name="alternate" value="(ec:translate(add/@place, 0, 'uppercase'), ', ', ec:label('replace-del', false()), ': ', del/node())"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="date" mode="change">
                    <model output="web" predicate="@when and @type" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('date'), ': ', ec:format-date(@when), ' (', ec:translate(@type, 0, ()), ')')"/>
                    </model>
                    <model output="web" predicate="@when and @calendar" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('date'), ': ', ec:format-date(@when), ' (', ec:translate(@calendar, 0, ()), ')')"/>
                    </model>
                    <model output="web" predicate="@when" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('date'), ': ', ec:format-date(@when))"/>
                    </model>
                    <model output="web" predicate="@period" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('duration'), ': ', ec:translate(@period, 0, ()))"/>
                    </model>
                    <model output="web" predicate="@dur[starts-with(., 'R/P')]" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('repeated-duration')"/>
                    </model>
                    <model output="web" predicate="@dur" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('duration'), ': ', ec:format-duration(@dur))"/>
                    </model>
                    <model predicate="@type" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('date'), ' ', ec:translate(@type, 0, ()) )"/>
                    </model>
                    <model predicate="text()" behaviour="inline" cssClass="semantic"/>
                </elementSpec>
                <elementSpec ident="msDesc" mode="add">
                    <desc>Stückbeschreibung ausgeben</desc>
                    <model behaviour="list">
                        <param name="content" value="(msIdentifier,history/origin/origDate,msContents/msItem/filiation[@type='current'], physDesc/objectDesc/supportDesc/condition, physDesc/objectDesc/supportDesc, physDesc, history/origin/origPlace, msContents/msItem/textLang, msContents/msItem/author[@role=&#34;scribe&#34;], additional)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="msIdentifier">
                    <modelSequence>
                        <model behaviour="listItem">
                            <param name="content" value="idno"/>
                        </model>
                        <model behaviour="listItem">
                            <param name="content" value="altIdentifier/idno"/>
                        </model>
                    </modelSequence>
                </elementSpec>

                <elementSpec ident="msItem">
                    <model behaviour="listItem">
                        <param name="content" value="filiation[@type='current']"/>
                    </model>
                </elementSpec>
                <elementSpec ident="idno">
                    <model predicate="parent::altIdentifier" behaviour="inline">
                        <param name="content" value="(ec:label('signatureAlt'), ': ', .)"/>
                    </model>
                    <model behaviour="inline">
                        <param name="content" value="(ec:label('signature'), ': ', .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="filiation">
                    <model predicate="text()" behaviour="inline">
                        <param name="content" value="(ec:label('other-source'), ': ', .)"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="condition">
                    <model behaviour="listItem">
                        <param name="content" value="(ec:label('condition'), ': ', .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="physDesc">
                    <model behaviour="listItem">
                        <param name="content" value="sealDesc"/>
                    </model>
                </elementSpec>
                <elementSpec ident="supportDesc">
                    <modelSequence>
                        <model behaviour="listItem">
                            <param name="content" value="support/material"/>
                        </model>
                        <model behaviour="listItem">
                            <param name="content" value="extent/dimensions"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="material">
                    <model predicate="node() or @*" behaviour="inline">
                        <param name="content" value="(ec:label('surface'), ': ', .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="dimensions">
                    <model predicate="@type = 'leaves' and (width/@quantity &gt; 0 or height/@quantity &gt; 0)" behaviour="inline">
                        <param name="content" value="(ec:label('format'), ' (cm) ', string-join((width/@quantity,height/@quantity), ' x ') )"/>
                    </model>
                    <model predicate="@type = 'plica' and width/@quantity &gt; 0" behaviour="inline">
                        <param name="content" value="' (Plica: ' || width/@quantity || ')'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="sealDesc">
                    <modelSequence predicate="seal and seal/node()">
                        <model behaviour="inline">
                            <param name="content" value="(count(seal), ' ', ec:label('sigle'), ':')"/>
                        </model>
                        <model behaviour="list">
                            <param name="type" value="'ordered'"/>
                        </model>
                    </modelSequence>
                    <model predicate="not(seal)" behaviour="listItem">
                        <desc>sealDesc in "weitere Überlieferungen"</desc>
                        <param name="content" value="(ec:label('sigle'), ': ', .)"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="seal">
                    <model behaviour="listItem">
                        <param name="content" value="(persName|orgName, if (persName|orgName) then ', ' else (), string-join((@nontei:material,@nontei:shape,@nontei:extent,@nontei:attachment,@nontei:condition) ! ec:translate(., 0, ()), ', '))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="inline">
                        <param name="content" value="replace(string-join(.//text() except .//ref//text()), '^(.*?)[^\w]*$', '$1')"/>
                    </model>
                    <model predicate="parent::figure" behaviour="block">
                        <outputRendition>
                            font-style: italic;
                        </outputRendition>
                    </model>
                    <model predicate="parent::table" behaviour="caption">
                        <desc>head inside table should be output as caption element</desc>
                    </model>
                    <model predicate="parent::lg" behaviour="block">
                        <outputRendition>
                            font-style: italic;
                        </outputRendition>
                    </model>
                    <model predicate="parent::list" behaviour="block">
                        <outputRendition>
                            font-weight: bold;
                        </outputRendition>
                    </model>
                    <model predicate="@type = 'title'" behaviour="heading">
                        <param name="level" value="1"/>
                    </model>
                    <model behaviour="heading" useSourceRendition="true">
                        <param name="level" value="2"/>
                    </model>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="not(@target)" behaviour="inline"/>
                    <model predicate="not(text())" behaviour="link">
                        <param name="content" value="@target"/>
                        <param name="link" value="@target"/>
                    </model>
                    <model behaviour="link">
                        <param name="link" value="@target"/>
                        <param name="target" value="'_new'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="text()">
                    <model behaviour="content"/>
                </elementSpec>
            <elementSpec ident="author" mode="change">
                    <model behaviour="listItem">
                        <desc>Ausgabe des Schreibers im Header</desc>
                        <param name="content" value="(ec:label('scriptor'), ': ', .)"/>
                    </model>
                </elementSpec>
            <elementSpec ident="listBibl" mode="change">
                    <modelSequence predicate="not($parameters?mode = 'filiation')">
                        <desc>Ausgabe Bibliographie, aber nicht in "weitere Überlieferungen"</desc>
                        <model behaviour="heading">
                            <desc>Titel des Bibliographieabschnitts</desc>
                            <param name="content" value="head/node()"/>
                            <param name="level" value="5"/>
                            <outputRendition>
                                margin-top: 1em;
                            </outputRendition>
                        </model>
                        <model behaviour="list">
                            <desc>Liste der Bibliographieeinträge</desc>
                            <param name="content" value="bibl"/>
                        </model>
                    </modelSequence>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="bibl" mode="add">
                    <model behaviour="listItem"/>
                </elementSpec>
                <elementSpec ident="additional" mode="add">
                    <model behaviour="listItem"/>
                </elementSpec>
            <elementSpec ident="textLang" mode="add">
                    <model behaviour="listItem">
                        <desc>Ausgabe Sprache in "weitere Überlieferungen"</desc>
                        <param name="content" value="(ec:label('language'), ': ', .)"/>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>