resources/odd/ssrq-norm.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:nontei="http://ssrq-sds-fds.ch/ns/nonTEI" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model for SSRQ</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="ssrq-norm" source="ssrq.odd">
                <elementSpec ident="lb" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model predicate="following-sibling::node()[1][self::lb]" behaviour="copy">
                        <desc>If followed by an lb, process the lb first, then the pb</desc>
                        <param name="content" value="(following-sibling::lb[1], $node)"/>
                    </model>
                    <modelGrp output="web">
                        <model predicate="@facs" behaviour="graphic" cssClass="facs">
                            <desc>Facsimile image links will be extracted via javascript</desc>
                            <param name="url" value="@facs || '.ptif'"/>
                            <outputRendition>
                                display: none;
                            </outputRendition>
                        </model>
                        <model predicate="ancestor::text and not(preceding::pb[ancestor::text])" behaviour="omit">
                            <desc>Hide the very first pagebreak in a document</desc>
                        </model>
                        <model predicate="not(@*)" behaviour="alternate" cssClass="pb-norm pb-empty">
                            <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                            <param name="default" value="'|'"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model predicate="number(@n) gt 0" behaviour="alternate" cssClass="pb-norm pb-pagination">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only contains a number</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model behaviour="alternate" cssClass="pb-norm pb-foliation">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value contains a number+string combination</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                    </modelGrp>
                    <modelGrp output="print">
                        <model predicate="ancestor::text and not(preceding::pb[ancestor::text])" behaviour="omit">
                            <desc>Hide the very first pagebreak in a document</desc>
                        </model>
                        <model predicate="not(@*)" behaviour="alternate" cssClass="pb-norm pb-empty">
                            <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                            <param name="default" value="'|'"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model predicate="number(@n) gt 0" behaviour="alternate" cssClass="pb-norm pb-pagination">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only contains a number</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model behaviour="alternate" cssClass="pb-norm pb-foliation">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value contains a number+string combination</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                    </modelGrp>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model predicate="@n" behaviour="block">
                        <param name="content" value="(text{'['}, @n, text{'] '}, .)"/>
                    </model>
                    <model behaviour="block">
                        <outputRendition>
                            margin-top: 1ex;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="parent::back and @n" behaviour="listItem">
                        <desc>output as list item if in commentary</desc>
                    </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model output="plain" predicate="sic and corr" behaviour="inline">
                        <param name="content" value="corr[1]"/>
                    </model>
                    <model output="plain" predicate="abbr and expan" behaviour="inline">
                        <param name="content" value="expan[1]"/>
                    </model>
                    <model output="plain" predicate="orig and reg" behaviour="inline">
                        <param name="content" value="reg[1]"/>
                    </model>
                    <model predicate="sic and corr" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="corr"/>
                        <param name="alternate" value="(ec:label('corrected-from'), ': ', sic)"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="abbr and expan" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="expan[1]"/>
                        <param name="alternate" value="(ec:label('abbr-nonexpanded'), ': ', abbr[1])"/>
                    </model>
                    <model predicate="orig and reg" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="reg[1]"/>
                        <param name="alternate" value="orig[1]"/>
                    </model>
                </elementSpec>
                <elementSpec ident="expan" mode="change">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="p" mode="change">
                    <model predicate="parent::div[@n]/*[1] is ." behaviour="paragraph" useSourceRendition="true">
                        <param name="content" value="('[', parent::div/@n, '] ', .)"/>
                        <outputRendition>
                            text-align: justify;
                        </outputRendition>
                    </model>
                    <model behaviour="paragraph" useSourceRendition="true">
                        <outputRendition>
                            text-align: justify;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="inline">
                        <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
                    </model>
                    <model predicate="parent::figure" behaviour="block">
                        <outputRendition>
                            font-style: italic;
                        </outputRendition>
                    </model>
                    <model predicate="parent::table" behaviour="caption">
                        <desc>head inside table should be output as caption element</desc>
                    </model>
                    <model predicate="parent::lg" behaviour="block">
                        <outputRendition>
                            font-style: italic;
                        </outputRendition>
                    </model>
                    <model predicate="parent::list" behaviour="block">
                        <outputRendition>
                            font-weight: bold;
                        </outputRendition>
                    </model>
                    <model predicate="@resp and @n" behaviour="block">
                        <desc>Supplied heading: output in brackets if @resp</desc>
                        <param name="level" value="2"/>
                        <param name="content" value="('[ ', @n, '. ', ., ' ]')"/>
                        <outputRendition>
                            font-weight: bold;
                        </outputRendition>
                    </model>
                    <model predicate="@resp" behaviour="block">
                        <desc>Supplied heading: output in brackets if @resp</desc>
                        <param name="level" value="2"/>
                        <param name="content" value="."/>
                        <outputRendition>
                            font-weight: bold;
                        </outputRendition>
                        <outputRendition scope="before">
                            content: '[';
                        </outputRendition>
                        <outputRendition scope="after">
                            content: ']';
                        </outputRendition>
                    </model>
                    <model predicate="parent::div[@n][@type=('chapter', 'section')]/*[1] is ." behaviour="heading">
                        <desc>Show number in front of heading if @n is set on parent</desc>
                        <param name="content" value="('[', parent::div/@n, '] ', .)"/>
                        <param name="level" value="1"/>
                    </model>
                    <model predicate="parent::div[@n]/*[1] is ." behaviour="heading">
                        <desc>Show number in front of heading if @n is set on parent</desc>
                        <param name="content" value="('[', parent::div/@n, '] ', .)"/>
                        <param name="level" value="if (@type=('chapter','section','title')) then 1 else 2"/>
                    </model>
                    <model behaviour="heading">
                        <desc>All other headings are same size as text</desc>
                        <param name="level" value="if (@type='title') then 1 else 2"/>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>