resources/odd/ssrq.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:nontei="http://ssrq-sds-fds.ch/ns/nonTEI" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model Customization</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd" ident="ssrq">
                <elementSpec ident="lb" mode="change">
                    <model predicate="preceding-sibling::node()[1][self::pb]" behaviour="omit"/>
                    <model predicate=". is (./ancestor::div[1]//lb[1])" behaviour="omit"/>
                    <modelSequence predicate="@break='no'">
                        <model behaviour="inline">
                            <outputRendition scope="before">content: '-';</outputRendition>
                        </model>
                        <model behaviour="break">
                            <param name="type" value="'page'"/>
                            <param name="label" value="@n"/>
                            <outputRendition>display: block;</outputRendition>
                        </model>
                    </modelSequence>
                  <model behaviour="break">
                    <param name="type" value="'line'"/>
                    <param name="label" value="@n"/>
                  </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model output="plain" predicate="sic and corr" behaviour="inline">
                        <param name="content" value="corr[1]"/>
                    </model>
                    <model output="plain" predicate="abbr and expan" behaviour="inline">
                        <param name="content" value="expan[1]"/>
                    </model>
                    <model output="plain" predicate="orig and reg" behaviour="inline">
                        <param name="content" value="reg[1]"/>
                    </model>
                    <modelSequence predicate="sic and corr">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="sic"/>
                            <param name="alternate" value="('Korrigiert: ', corr)"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="('Korrigiert: ', corr)"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <model predicate="abbr and expan" behaviour="alternate">
                        <param name="default" value="abbr[1]"/>
                        <param name="alternate" value="expan[1]"/>
                    </model>
                    <model predicate="orig and reg" behaviour="alternate">
                        <param name="default" value="orig[1]"/>
                        <param name="alternate" value="reg[1]"/>
                    </model>
                </elementSpec>
                <elementSpec ident="expan" mode="change">
                    <model predicate="parent::choice" behaviour="inline">
                        <outputRendition scope="before">content: 'Aufgelöste Abkürzung: '</outputRendition>
                        <outputRendition scope="after">content: '.'</outputRendition>
                    </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="abbr" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <model predicate="unclear" behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Abkürzung, unsichere Lesung'}"/>
                    </model>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Abkürzung'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="unclear" mode="change">
                    <model predicate="parent::del or parent::abbr or parent::corr" behaviour="inline"/>
                    <modelSequence predicate="parent::damage">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="(ext-common:translate('damage', parent::damage/@agent, 'de', 0, 'uppercase'), text{', unsichere Lesung'})"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="(ext-common:translate('damage', parent::damage/@agent, 'de', 0, 'uppercase'), text{', unsichere Lesung.'})"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <modelSequence>
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="'Unsichere Lesung'"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Unsichere Lesung'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="corr" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Korrektur'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="sic" mode="change">
                    <model predicate="parent::choice and count(parent::*/*) gt 1" behaviour="inline"/>
                    <model behaviour="inline">
                        <outputRendition scope="after">content: ' [sic]';</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="origPlace" mode="add">
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Ausstellungsort'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="origDate" mode="add">
                    <model predicate="$parameters?header='short'" behaviour="inline">
                        <desc>Called to output the sigle of a document</desc>
                        <param name="content" value="format-date(xs:date(@when), '[Y] [MNn] [D01]', 'de_CH', (), ())"/>
                    </model>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Originaldatierung: ', ext-common:format-date(@when, 'de_CH'), '.'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="add" mode="change">
                    <model predicate="parent::subst" behaviour="inline"/>
                    <modelSequence predicate="@place">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="(ext-common:translate('add', @place, 'de', 0, 'uppercase'), if (@hand) then text{' ' || ext-common:translate('add', @hand, 'de', 0, 'lowercase')} else (), if (@rend) then text{' ' || ext-common:translate('add', @rend, 'de', 0, 'lowercase')} else (), text{': '}, .)"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="(ext-common:translate('add', @place, 'de', 0, 'uppercase'), if (@hand) then text{' ' || ext-common:translate('add', @hand, 'de', 0, 'lowercase')} else (), if (@rend) then text{' ' || ext-common:translate('add', @rend, 'de', 0, 'lowercase')} else (), text{': '}, .)"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <model behaviour="inline">
                        <outputRendition>color: green; text-decoration: underline;</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model predicate="parent::subst" behaviour="inline"/>
                    <model predicate="gap" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ext-common:translate('del', @rend, 'de'),' mit Textverlust (',gap/@quantity,' ', ext-common:translate('gap',gap/@unit,'de',0,()),')')"/>
                    </model>
                    <model predicate="unclear" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ext-common:translate('del', @rend, 'de'),', unsichere Lesung: ', .)"/>
                    </model>
                    <model predicate="@hand and @rend" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ext-common:translate('del', @rend, 'de'),ext-common:translate('del', @hand, 'de'),': ',.)"/>
                    </model>
                    <model predicate="@hand" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ext-common:translate('del', @hand, 'de'),': ',.)"/>
                    </model>
                    <model predicate="@rend" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="content" value="(ext-common:translate('del', @rend, 'de', 0, 'uppercase'), ': ', .)"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="not(@rend)" behaviour="note">
                        <param name="place" value="'footnote'"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="('Streichung: ', .)"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="app">
                    <modelSequence>
                        <model behaviour="alternate">
                            <param name="default" value="lem"/>
                            <param name="alternate" value="rdg"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="'footnote'"/>
                            <param name="type" value="'text-critical'"/>
                            <param name="content" value="rdg"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="lem">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="rdg">
                    <model predicate="../gap" behaviour="inline">
                        <desc>app with gap and reading</desc>
                        <param name="content" value="('Unlesbar, ergänzt nach ', @wit)"/>
                    </model>
                    <model predicate="empty(../lem/node())" behaviour="inline">
                        <desc>app with empty lemma and reading</desc>
                        <param name="content" value="('Zusatz in ', @wit, ': ', .)"/>
                    </model>
                    <model behaviour="inline">
                        <param name="content" value="('Alternative Lesung in ', @wit, ': ', .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="handShift">
                    <model behaviour="note">
                        <param name="place" value="'footnote'"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="'Handwechsel'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="@place" behaviour="note">
                        <param name="place" value="@place"/>
                        <param name="label" value="@n"/>
                    </model>
                    <model behaviour="note">
                        <param name="type" value="'note'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='sup'" behaviour="inline" cssClass="text-critical">
                        <outputRendition>font-size: 80%; vertical-align: top;</outputRendition>
                    </model>
                    <modelSequence predicate="@rend='underline'">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="text{'Unterstrichen'}"/>
                            <outputRendition>text-decoration: underline;</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Unterstrichen.'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                    <model predicate="not(@rendition)" behaviour="inline">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="space" mode="change">
                    <modelSequence>
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="text{'...'}"/>
                            <param name="alternate" value="(text{'Lücke in der Vorlage ('} , @quantity , text{' '} , ext-common:translate('space', @unit, 'de', @quantity, 'lowercase'), text{')'})"/>
                            <outputRendition>text-decoration: underline;</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Lücke in der Vorlage (' || @quantity || ' ' || ext-common:translate('space', @unit, 'de', @quantity, 'lowercase') || ')'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="gap" mode="change">
                    <modelSequence predicate="parent::damage">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="text{'[...]'}"/>
                            <param name="alternate" value="(                             ext-common:translate('damage', parent::damage/@agent, 'de', 0, 'lowercase'),                             text{' mit Textverlust ('},                             @quantity,                             text{' '},                             ext-common:translate('gap', @unit, 'de', @quantity, 'lowercase'),                             text{')'}                             )"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="(                             ext-common:translate('damage', parent::damage/@agent, 'de', 0, 'lowercase'),                             text{' mit Textverlust ('},                             @quantity,                             text{' '},                             ext-common:translate('gap', @unit, 'de', @quantity, 'lowercase'),                             text{')'}, text{'.'})                            "/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <modelSequence predicate="@reason='illegible'">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="text{'[...]'}"/>
                            <param name="alternate" value="(text{'Unlesbar ('} , @quantity , text{' '} , ext-common:translate('gap', @unit, 'de', @quantity, 'lowercase'), text{')'})"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Unlesbar (' || @quantity || ' ' || ext-common:translate('gap', @unit, 'de', @quantity, 'lowercase') || ')' || '.'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <modelSequence predicate="@source">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="text{'[...]'}"/>
                            <param name="alternate" value="(text{'Vgl. '}, @source)"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Vgl. ' || @source || '.'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <model predicate="desc" behaviour="inline">
                        <outputRendition>color: grey;</outputRendition>
                    </model>
                    <model predicate="@extent" behaviour="inline">
                        <param name="content" value="@extent"/>
                        <outputRendition scope="before">content: '[..';</outputRendition>
                        <outputRendition scope="after">content: '..]';</outputRendition>
                        <outputRendition>color: grey;</outputRendition>
                    </model>
                    <model behaviour="inline">
                        <outputRendition scope="before">content: '[...]';</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="foreign" mode="change">
                    <model behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Sprachwechsel'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="term" mode="change">
                    <model output="web" behaviour="reference" cssClass="semantic term">
                        <desc>Semantic highlighting of keywords and lemmata with dark-red text color</desc>
                        <param name="content" value="."/>
                        <param name="ref" value="@ref"/>
                        <param name="label" value="'Begriff'"/>
                        <outputRendition>color: #b5221f;</outputRendition>
                    </model>
                    <model behaviour="alternate" cssClass="semantic term">
                        <desc>Semantic highlighting of keywords and lemmata with dark-red text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Begriff'}"/>
                        <outputRendition>color: #b5221f;</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model output="web" behaviour="reference" cssClass="semantic person">
                        <desc>Semantic highlighting of person with blue text color</desc>
                        <param name="content" value="."/>
                        <param name="ref" value="@ref"/>
                        <param name="label" value="'Person'"/>
                    </model>
                    <model behaviour="alternate" cssClass="semantic person">
                        <desc>Semantic highlighting of person names with tooltip and blue text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Person'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="orgName" mode="add">
                    <model output="web" behaviour="reference" cssClass="semantic organization">
                        <desc>Semantic highlighting of organization names with tooltip and blue text color</desc>
                        <param name="content" value="."/>
                        <param name="ref" value="@ref"/>
                        <param name="label" value="'Organisation'"/>
                    </model>
                    <model behaviour="alternate" cssClass="semantic organization">
                        <desc>Semantic highlighting of organization names with tooltip and blue text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Organisation'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model output="web" behaviour="reference" cssClass="semantic place">
                        <desc>Semantic highlighting of place names with tooltip and green text color</desc>
                        <param name="content" value="."/>
                        <param name="label" value="'Ort'"/>
                        <param name="ref" value="@ref"/>
                        <outputRendition>
                            color: #007e00;
                        </outputRendition>
                    </model>
                    <model behaviour="alternate" cssClass="semantic place">
                        <desc>Semantic highlighting of place names with tooltip and green text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Ort'}"/>
                        <outputRendition>
                            color: #007e00;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="num" mode="change">
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Display number in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(text{'Menge: '}, @value)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="time" mode="change">
                    <model predicate="@period" behaviour="alternate" cssClass="semantic">
                        <desc>Display time with given parameter in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Zeit: ', ext-common:translate('time', @period, 'de', 0, ())}"/>
                    </model>
                    <model predicate="@when" behaviour="alternate" cssClass="semantic">
                        <desc>Display time with given parameter in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Zeit: ', @when}"/>
                    </model>
                    <model predicate="@dur" behaviour="alternate" cssClass="semantic">
                        <desc>Display time in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Zeitspanne: ', ext-common:format-duration(@dur)}"/>
                    </model>
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Display time in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Zeit'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="measure" mode="change">
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Display measurement with given parameters in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                       <param name="alternate" value="(                            ext-common:translate('measure', @type, 'de', 0, 'uppercase'),                            text{': '},                             @quantity,                             text{' '},                             ext-common:translate('measure', @origin, 'de', 0, 'lowercase'), text{' '},                             ext-common:translate('measure', @unit, 'de', @quantity, 'lowercase'),                             text{' '},                             ext-common:translate('measure', @commodity, 'de', 0, 'lowercase'))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model predicate="ancestor::text and not(preceding::pb[ancestor::text])" behaviour="omit">
                        <desc>Hide the very first pagebreak in a document</desc>
                    </model>
                    <model predicate="following-sibling::node()[1][self::lb]" behaviour="copy">
                        <desc>If followed by an lb, process the lb first, then the pb</desc>
                        <param name="content" value="let $pb := . return (following-sibling::lb[1], $pb)"/>
                    </model>
                    <model predicate="not(@*)" behaviour="alternate" cssClass="pb-empty">
                        <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                        <param name="default" value="'|'"/>
                        <param name="alternate" value="text{'Seitenumbruch'}"/>
                    </model>
                    <model predicate="number(@n) gt 0" behaviour="alternate" cssClass="pb-pagination">
                        <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only contains a number</desc>
                        <param name="default" value="@n"/>
                        <param name="alternate" value="text{'Seitenumbruch'}"/>
                    </model>
                    <model behaviour="alternate" cssClass="pb-foliation">
                        <desc>Show pagebreak with a label, if pb contains a @n attribute and its value contains a number+string combination</desc>
                        <param name="default" value="@n"/>
                        <param name="alternate" value="text{'Seitenumbruch'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="q" mode="change">
                    <model behaviour="inline" useSourceRendition="true" cssClass="quote-inline">
                        <desc>Add css class for quotes</desc>
                    </model>
                </elementSpec>
                <elementSpec ident="supplied" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <modelSequence predicate="@resp">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="text{'Sinngemäss ergänzt'}"/>
                            <outputRendition scope="before">content:"[";</outputRendition>
                            <outputRendition scope="after">content:"]";</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Sinngemäss ergänzt.'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <modelSequence predicate="parent::damage and @source">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="(ext-common:translate('damage', parent::damage/@agent, 'de', 0, 'uppercase'), text{', '}, if (@reason) then text{ext-common:translate('supplied', @reason, 'de', 0, 'lowercase') || ', '} else (), text{' ergänzt nach '}, @source)"/>
                            <outputRendition scope="before">content:"[";</outputRendition>
                            <outputRendition scope="after">content:"]";</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="(ext-common:translate('damage', parent::damage/@agent, 'de', 0, 'uppercase'), text{', '}, if (@reason) then text{ext-common:translate('supplied', @reason, 'de', 0, 'lowercase') || ', '} else (), text{' ergänzt nach '}, @source, text{'.'})"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <modelSequence predicate="@source and @reason">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="(ext-common:translate('supplied', @reason, 'de', 0, 'uppercase'), text{' ergänzt nach '}, @source)"/>
                            <outputRendition scope="before">content:"[";</outputRendition>
                            <outputRendition scope="after">content:"]";</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="(ext-common:translate('supplied', @reason, 'de', 0, 'uppercase'), text{' ergänzt nach '}, @source, text{'.'})"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <modelSequence predicate="@source">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="(text{'Ergänzt nach '}, @source)"/>
                            <outputRendition scope="before">content:"[";</outputRendition>
                            <outputRendition scope="after">content:"]";</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="(text{'Ergänzt nach '}, @source, text{'.'})"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <model behaviour="inline">
                        <outputRendition scope="before">content:"[";</outputRendition>
                        <outputRendition scope="after">content:"]";</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec mode="change" ident="fileDesc">
                    <modelSequence predicate="$parameters?header='short'">
                        <desc>Output a short header to be used in document listings</desc>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="titleStmt"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="(seriesStmt, ' ', sourceDesc/msDesc/history/origin/origDate/@when, '(prov.)')"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="sourceDesc/msDesc/head"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="sourceDesc/msDesc/history/origin/origDate"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="editionStmt"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="publicationStmt"/>
                        </model>
                    </modelSequence>
                    <model behaviour="title">
                        <param name="content" value="titleStmt"/>
                    </model>
                </elementSpec>
                <elementSpec ident="seriesStmt" mode="add">
                    <model predicate="$parameters?header='short'" behaviour="inline">
                        <param name="content" value="ext-common:display-sigle(idno/@xml:id)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="back" mode="change">
                    <desc>back contains the commentary, which should appear as a numbered list</desc>
                    <model behaviour="list" predicate="div/@n">
                        <param name="type" value="'ordered'"/>
                    </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model behaviour="listItem" predicate="parent::back and @n">
                        <desc>output as list item if in commentary</desc>
                    </model>
                    <model behaviour="section" predicate="parent::body or parent::front or parent::back"/>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="ab" mode="change">
                    <model behaviour="block" predicate="@place">
                        <param name="content" value="('[' || string-join((ext-common:translate('ab', @type, 'de', 0, 'lowercase'),ext-common:translate('ab', @place, 'de', 0, 'lowercase'),ext-common:translate('ab', @hand, 'de', 0, 'lowercase')), ' ') || ':] ', node())"/>
                    </model>
                    <model behaviour="paragraph"/>
                </elementSpec>
                <elementSpec ident="subst" mode="change">
                    <modelSequence predicate="add/@hand">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="del"/>
                            <param name="alternate" value="(text{'Streichung, ersetzt '}, ext-common:translate('add', add/@place, 'de', 0, 'lowercase'), text{' '}, ext-common:translate('add', add/@hand, 'de', 0, 'lowercase'), text{': '}, add)"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="(text{'Streichung, ersetzt '}, ext-common:translate('add', add/@place, 'de', 0, 'lowercase'), text{' '}, ext-common:translate('add', add/@hand, 'de', 0, 'lowercase'), text{': '}, add, text{'.'})"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <modelSequence predicate="add">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="add"/>
                            <param name="alternate" value="(ext-common:translate('add', add/@place, 'de', 0, 'uppercase'), text{', ersetzt Streichung: '}, del)"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="(ext-common:translate('add', add/@place, 'de', 0, 'uppercase'), text{', ersetzt Streichung: '}, del, text{'.'})"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="date" mode="change">
                    <model output="web" predicate="@when and @type" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Datum: ', ext-common:format-date(@when, 'de_CH'), ' (', ext-common:translate('date', @type, 'de', 0, ()), ')'}"/>
                    </model>
                    <model output="web" predicate="@when" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Datum: ', ext-common:format-date(@when, 'de_CH')}"/>
                    </model>
                    <model output="web" predicate="@period" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Zeitspanne: ', ext-common:translate('date', @period, 'de', 0, ())}"/>
                    </model>
                    <model output="web" predicate="@dur" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Zeitspanne: ', ext-common:format-duration(@dur)}"/>
                    </model>
                    <model predicate="@type" behaviour="alternate" cssClass="semantic">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Datum (', ext-common:translate('date', @type, 'de', 0, ()), ')'}"/>
                    </model>
                    <model predicate="text()" behaviour="inline" cssClass="semantic"/>
                </elementSpec>
                <elementSpec ident="msDesc" mode="add">
                    <desc>Stückbeschreibung ausgeben</desc>
                    <model behaviour="list">
                        <param name="content" value="(msIdentifier,msContents/msItem,physDesc/objectDesc/supportDesc,physDesc/sealDesc)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="msIdentifier">
                    <model behaviour="listItem">
                        <param name="content" value="idno"/>
                    </model>
                </elementSpec>
                <elementSpec ident="msItem">
                    <model behaviour="listItem">
                        <param name="content" value="filiation"/>
                    </model>
                </elementSpec>
                <elementSpec ident="idno">
                    <model behaviour="inline">
                        <param name="content" value="(text { 'Signatur: '}, .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="filiation">
                    <model behaviour="inline">
                        <param name="content" value="(text { 'Überlieferung: '}, .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="supportDesc">
                    <modelSequence>
                        <model behaviour="listItem">
                            <param name="content" value="support/material"/>
                        </model>
                        <model behaviour="listItem">
                            <param name="content" value="extent/dimensions"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="material">
                    <model behaviour="inline">
                        <param name="content" value="(text { 'Beschreibstoff: '}, .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="dimensions">
                    <model predicate="@type = 'leaves'" behaviour="inline">
                        <param name="content" value="string-join((width/@quantity,height/@quantity), 'x')"/>
                        <outputRendition scope="before">
                            content: 'Format B x H (cm): ';
                        </outputRendition>
                    </model>
                    <model predicate="@type = 'plica'" behaviour="inline">
                        <param name="content" value="' (Plica: ' || width/@quantity || ')'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="sealDesc">
                    <model behaviour="listItem">
                        <modelSequence>
                            <model behaviour="inline">
                                <param name="content" value="count(seal) || ' Siegel:'"/>
                            </model>
                            <model behaviour="list">
                                <param name="type" value="'ordered'"/>
                            </model>
                        </modelSequence>
                    </model>
                </elementSpec>
                <elementSpec ident="seal">
                    <model behaviour="listItem">
                        <param name="content" value="(persName|orgName, if (persName|orgName) then ', ' else (), string-join((@nontei:material,@nontei:shape,@nontei:extent,@nontei:attachment,@nontei:condition) ! ext-common:translate('seal', ., 'de', (), ()), ', '))"/>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>