resources/odd/ssrq.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xmlns:nontei="http://ssrq-sds-fds.ch/ns/nonTEI" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model for SSRQ</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <pb:behaviour output="latex" ident="textup">
                    <pb:template>\textup{[[content]]}</pb:template>
                </pb:behaviour>
            </tagsDecl>
        </encodingDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="ssrq" source="teipublisher.odd">
                <elementSpec ident="TEI" mode="change">
                    <model output="latex" behaviour="section">
                        <param name="volume" value="teiHeader/fileDesc/titleStmt/title"/>
                        <param name="idno" value="teiHeader/fileDesc/seriesStmt/idno/text()"/>
                        <param name="canton" value="replace(teiHeader/fileDesc/seriesStmt/idno/text(), '^(?:SSRQ|SDS|FDS)_(..)_.+$', '$1')"/>
                        <param name="title" value="teiHeader/fileDesc/sourceDesc/msDesc/head/text()"/>
                        <!--<param name="dating" value="teiHeader/fileDesc/sourceDesc/msDesc/msContents/msItem/filiation/origDate[@type='humanReadable']/text()"/>-->
                        <!--<param name="dating" value="teiHeader/fileDesc/sourceDesc/msDesc/history/origin/origDate[@type='humanReadable'][@lang=session:get-attribute('ssrq.lang')]/text()"/>-->
                        <param name="dating" value="format-date(xs:date(teiHeader/fileDesc/sourceDesc/msDesc/history/origin/origDate/@when), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ())"/>
                        <param name="place" value="if (teiHeader/fileDesc/sourceDesc/msDesc/history/origin/origPlace) then ('. ' || teiHeader/fileDesc/sourceDesc/msDesc/history/origin/origPlace/text()) else ()"/>
                        <param name="content" value="(teiHeader/fileDesc/sourceDesc/msDesc/msContents/summary, text/back, text//body)"/>
                        <param name="msdesc" value="teiHeader/fileDesc/sourceDesc/msDesc"/>
                        <param name="additionalSources" value="if (ec:existsAdditionalSource(teiHeader/fileDesc/seriesStmt/idno/text())) then ec:additionalSource(teiHeader/fileDesc/seriesStmt/idno/text()) else ''"/>
                        <param name="literature" value="teiHeader/fileDesc/sourceDesc/msDesc/additional/listBibl"/>
                        <pb:template>
                            \documentclass[10pt,twoside]{article}
                            
                            \usepackage{ssrq}			% here's all the magic...
                            \usepackage{hyperref}
                            
                            \begin{document}
                            
                            % Variablen für Kopfzeile
                            \def\volume{[[volume]]}
                            \def\volid{\url{https://www.ssrq-sds-fds.ch/online/tei/[[canton]]/[[idno]].xml}}
                            
                            \linenumbers				% Zeilennummern
                            \normalsize					% normale Grösse, d.h. Quellentext (source) ist 10pt
                            
                            \thispagestyle{firstpage}
                            
                            \sloppy
                            \article{[[title]]}
                            \fussy
                            \dating{[[dating]][[place]]}
                            
                            [[content]]
                            
                            [[msdesc]]
                            
                            [[additionalSources]]
                            
                            [[literature]]
                            
                            \printnotes*
                            
                            \end{document}
                        </pb:template>
                    </model>
                    <model behaviour="document"/>
                </elementSpec>
                <elementSpec ident="body" mode="change">
                    <model output="latex" behaviour="block">
                        <pb:template>
                            \begin{source}
                            [[content]]
                            \end{source}
                        </pb:template>
                    </model>
                    <modelSequence>
                        <model behaviour="index">
                            <param name="type" value="'toc'"/>
                        </model>
                        <model behaviour="block"/>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="summary" mode="add">
                    <model output="latex" behaviour="block">
                        <pb:template>
                            \begin{summary}
                            [[content]]
                            \end{summary}
                        </pb:template>
                    </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <model output="latex" behaviour="omit"/>
                    <model predicate="ancestor::back//orig" behaviour="omit"/>
                    <model predicate="preceding-sibling::node()[1][self::pb]" behaviour="omit"/>
                    <model predicate=". is (./ancestor::div[1]//lb[1])" behaviour="omit"/>
                    <model predicate=". is (ancestor::p[1]/lb[1])" behaviour="omit"/>
                    <modelSequence predicate="@break='no'">
                        <model behaviour="inline">
                            <outputRendition scope="before">
                                content: '-';
                            </outputRendition>
                        </model>
                        <model behaviour="break">
                            <param name="type" value="'page'"/>
                            <param name="label" value="@n"/>
                            <outputRendition>
                                display: block;
                            </outputRendition>
                        </model>
                    </modelSequence>
                    <model behaviour="break">
                        <param name="type" value="'line'"/>
                        <param name="label" value="@n"/>
                    </model>
                </elementSpec>
                <elementSpec ident="figure" mode="change">
                    <model behaviour="inline">
                        <param name="content" value="ec:translate(@type, 0, 'uppercase')"/>
                        <outputRendition scope="before">
                            content: '[';
                        </outputRendition>
                        <outputRendition scope="after">
                            content: ']';
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="signed" mode="change">
                    <model behaviour="block">
                        <param name="content" value="('[', ec:label('signed'), ec:punct(':', false()), '] ', .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <!--<model output="latex" predicate="sic and corr" behaviour="inline">
                        <param name="content" value="corr[1]"/>
                    </model>
                    <model output="latex" predicate="abbr and expan" behaviour="inline">
                        <param name="content" value="expan[1]"/>
                    </model>
                    <model output="latex" predicate="orig and reg" behaviour="inline">
                        <param name="content" value="reg[1]"/>
                    </model>-->
                    <model predicate="sic and corr" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="sic"/>
                        <param name="prefix" value="(ec:label('corrected'), ec:colon())"/>
                        <param name="alternate" value="corr"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="abbr and expan" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="abbr[1]"/>
                        <param name="prefix" value="(ec:label('abbr-expanded'), ec:colon())"/>
                        <param name="alternate" value="expan[1]"/>
                    </model>
                    <model predicate="orig and reg" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="orig[1]"/>
                        <param name="alternate" value="reg[1]"/>
                    </model>
                </elementSpec>
                <elementSpec ident="expan" mode="change">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="abbr" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <model predicate="unclear" behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('abbr-unclear')"/>
                    </model>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('abbr'), ec:colon(), ec:abbr(.))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="unclear" mode="change">
                    <model predicate="ancestor::back//orig" behaviour="inline"/>
                    <model predicate="parent::del or parent::abbr or parent::corr" behaviour="inline"/>
                    <model predicate="parent::damage" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:translate(parent::damage/@agent), ', ', ec:label('unclear-rdg', false()))"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="ec:label('unclear-rdg')"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="corr" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('corr')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="sic" mode="change">
                    <model output="latex" behaviour="inline">
                        <pb:template>[[content]]\,[!]</pb:template>
                    </model>
                    <model predicate="parent::choice and count(parent::*/*) gt 1" behaviour="inline"/>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('sic')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="orig" mode="change">
                    <model output="latex" behaviour="textup"/>
                    <model behaviour="inline" cssClass="orig"/>
                </elementSpec>
                <elementSpec ident="origDate" mode="add">
                    <model predicate="$parameters?header='short' and @from" behaviour="inline">
                        <desc>Called to output the sigle of a document</desc>
                        <param name="content" value="(format-date(xs:date(@from), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()), ' – ', format-date(xs:date(@to), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()))"/>
                    </model>
                    <model predicate="$parameters?header='short'" behaviour="inline">
                        <desc>Called to output the sigle of a document</desc>
                        <param name="content" value="format-date(xs:date(@when), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ())"/>
                    </model>
                    <model predicate="parent::origin and @from and text()" behaviour="listItem">
                        <desc>Ausgabe in "Stückbeschreibung"</desc>
                        <param name="content" value="(ec:label('origDate'), ec:colon(), format-date(xs:date(@from), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()), ' – ', format-date(xs:date(@to), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()), ' (', ., ')')"/>
                    </model>
                    <model predicate="parent::origin and text()" behaviour="listItem">
                        <desc>Ausgabe in "Stückbeschreibung"</desc>
                        <param name="content" value="(ec:label('origDate'), ec:colon(), format-date(xs:date(@when), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()), ' (', ., ')')"/>
                    </model>
                    <model predicate="parent::origin and @from" behaviour="listItem">
                        <desc>Ausgabe in "Stückbeschreibung" UND "Weitere Überlieferungen"</desc>
                        <param name="content" value="(ec:label('origDate'), ec:colon(), format-date(xs:date(@from), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()), ' – ', format-date(xs:date(@to), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()))"/>
                    </model>
                    <model predicate="parent::origin" behaviour="listItem">
                        <desc>Ausgabe in "Stückbeschreibung" UND "Weitere Überlieferungen"</desc>
                        <param name="content" value="(ec:label('origDate'), ec:colon(), format-date(xs:date(@when), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()))"/>
                    </model>
                    <model predicate="@calendar" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('origDate'), ec:colon(), ec:format-date(@when), ' (', ec:translate(@calendar, 0, ()), ')')"/>
                    </model>
                    <model behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('origDate'), ec:colon(), ec:format-date(@when))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="add" mode="change">
                    <model predicate="ancestor::back//orig" behaviour="inline"/>
                    <model predicate="parent::subst" behaviour="inline"/>
                    <model predicate="@hand!='other hand'" behaviour="note">
                        <desc>Show footnote only</desc>
                        <param name="prefix" value="(ec:span((ec:label('add'), ' ', string-join((ec:translate(@place, 0, 'lowercase'), ec:translate(@hand, 0, 'lowercase'), ec:translate(@rend, 0, 'lowercase'), ec:translate(@type, 0, 'lowercase')), ' '), if (@scribe) then (' ', ec:label('by', false()), ec:scribe(@scribe)) else (), ec:colon())))"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model behaviour="alternote" cssClass="text-critical">
                        <desc>Show text of add with popup and footnote</desc>
                        <param name="alternate" value="(ec:span((ec:label('add'), ' ', string-join((ec:translate(@place, 0, 'lowercase'), ec:translate(@hand, 0, 'lowercase'), ec:translate(@rend, 0, 'lowercase'), ec:translate(@type, 0, 'lowercase')), ' '))), if (@scribe) then (' ', ec:label('by', false()), ec:scribe(@scribe)) else ())"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="."/>
                    </model>
                    <model predicate="@type='catchword'" behaviour="alternote">
                        <desc>Show text of add with popup and footnote</desc>
                        <param name="alternate" value="(ec:span((ec:label('add'), ' ', string-join((ec:translate(@place, 0, 'lowercase'), ', ', ec:translate(@type, 0, 'lowercase'))))))"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="addSpan" mode="change">
                    <model predicate="parent::subst" behaviour="inline"/>
                    <model behaviour="note">
                        <desc>with @hand: just show footnote</desc>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="content" value="(ec:label('add'), ' ', string-join((ec:translate(@place, 0, ()), ec:translate(@hand, 0, 'lowercase'), ec:translate(@rend, 0, 'lowercase')), ' '), if (@scribe) then (' ', ec:label('by', false()), ec:scribe(@scribe)) else ())"/>
                        <param name="type" value="'text-critical-start'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model predicate="ancestor::back//orig" behaviour="omit"/>
                    <model predicate="add/@type='catchword'" behaviour="note">
                        <param name="prefix" value="(ec:label('del-add'), string-join((ec:translate(add/@place, 0, 'lowercase'), ', ', ec:translate(add/@type, 0, 'lowercase')), ''), ec:colon())"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@hand='later hand'" behaviour="alternote" cssClass="text-critical">
                        <desc>Show text of del with popup and footnote</desc>
                        <param name="alternate" value="(if (@rend) then (ec:translate(@rend, 0, 'uppercase')) else (ec:label('del')), ' ', ec:translate(@hand, 0, 'lowercase'))"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="."/>
                    </model>
                    <model predicate="add" behaviour="note">
                        <param name="prefix" value="(ec:label('del-add'), ' ', string-join((ec:translate(add/@place, 0, 'lowercase'), ec:translate(add/@hand, 0, 'lowercase'), ec:translate(add/@rend, 0, 'lowercase'), ec:translate(add/@type, 0, 'lowercase')), ' '), ec:colon())"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="parent::subst" behaviour="inline"/>
                    <model predicate="gap" behaviour="alternote">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="(ec:translate(@rend), ' ', ec:label('del-gap', false()), ' (', gap/@quantity, ' ', ec:translate(gap/@unit, gap/@quantity, ()), ')')"/>
                        <param name="content" value="'[...]'"/>
                    </model>
                    <model predicate="unclear" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="prefix" value="(ec:translate(@rend),', ', ec:label('unclear-rdg', false()), ec:colon())"/>
                    </model>
                    <model predicate="@rend" behaviour="note">
                        <desc>Show footnote only</desc>
                        <param name="prefix" value="(ec:translate(@rend, 0, 'uppercase'), if (@hand) then (' ', ec:translate(@hand, 0, 'lowercase')) else (), ec:colon())"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@hand" behaviour="note">
                        <desc>Show footnote only</desc>
                        <param name="type" value="'text-critical'"/>
                        <param name="prefix" value="(ec:label('del'), ' ', ec:translate(@hand, 0, 'uppercase'), ec:colon())"/>
                    </model>
                    <model behaviour="note">
                        <desc>Show footnote only</desc>
                        <param name="type" value="'text-critical'"/>
                        <param name="prefix" value="(ec:label('del'), ec:colon())"/>
                    </model>
                </elementSpec>
                <elementSpec ident="delSpan" mode="change">
                    <model predicate="not(@rend)" behaviour="note">
                        <param name="type" value="'text-critical-start'"/>
                        <param name="content" value="ec:label('del')"/>
                    </model>
                    <model behaviour="note">
                        <param name="content" value="(ec:translate(@rend, 0, 'uppercase'), if (@hand) then (' ', ec:translate(@hand, 0, 'lowercase')) else ())"/>
                        <param name="type" value="'text-critical-start'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="damage" mode="add">
                    <model predicate="gap" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="'[...]'"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="(ec:translate(@agent),' ', ec:label('del-gap', false()),' (', gap/@quantity,' ', ec:translate(gap/@unit, gap/@quantity, ()), ')')"/>
                    </model>
                    <model predicate="unclear" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="unclear/node()"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="(ec:translate(@agent),', ', ec:label('unclear-rdg', false()))"/>
                    </model>
                    <model predicate="supplied/@source" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="supplied/node()"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="concat(ec:translate(@agent),', ', ec:label('supplied-after', false()), ' ', supplied/@source)"/>
                    </model>
                    <model predicate="supplied" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="('[', supplied/node(), ']')"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="concat(ec:label('damage', true()), ' (', ec:translate(@agent, 0, 'lowercase'), '), ', ec:label('supplied', false()))"/>
                    </model>
                    <model predicate="add" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="add/node()"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="(ec:translate(@agent), ', ', ec:span((ec:label('add'), ' ', string-join((ec:translate(add/@place, 0, 'lowercase'), ec:translate(add/@hand, 0, 'lowercase'), ec:translate(add/@rend, 0, 'lowercase'), ec:translate(add/@type, 0, 'lowercase')), ' '))))"/>
                    </model>
                    <model predicate="@agent" behaviour="alternote" cssClass="text-critical">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="ec:translate(@agent)"/>
                    </model>
                    <model behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="'[...]'"/>
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="alternate" value="ec:translate(@agent)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="damageSpan" mode="change">
                    <model predicate="@agent" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical-start'"/>
                        <param name="content" value="ec:translate(@agent)"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="anchor" mode="change">
                    <model predicate="exists(root($parameters?root)//*[@spanTo = '#' || $node/@xml:id])" behaviour="notespan-end">
                        <param name="content" value="root($parameters?root)//*[@spanTo = '#' || $node/@xml:id]"/>
                    </model>
                    <model behaviour="anchor">
                        <param name="id" value="@xml:id"/>
                    </model>
                </elementSpec>
                <elementSpec ident="app">
                    <model predicate="empty(rdg/node())" behaviour="alternote" cssClass="text-critical">
                        <desc>app with empty reading</desc>
                        <param name="content" value="lem/node()"/>
                        <param name="alternate" value="(ec:label('omitted-in'), ' ', rdg/@wit)"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="empty(lem/node())" behaviour="alternote" cssClass="text-critical">
                        <desc>app with empty lemma</desc>
                        <param name="content" value="''"/>
                        <param name="prefix" value="(ec:label('alt-rdg-in'), ' ', rdg/@wit, ec:colon())"/>
                        <param name="alternate" value="rdg"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="lem/node()"/>
                        <param name="prefix" value="(ec:label('alt-rdg-in'), ' ', rdg/@wit, ec:colon())"/>
                        <param name="alternate" value="rdg"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="lem">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="rdg">
                    <model predicate="../gap" behaviour="inline">
                        <desc>app with gap and reading</desc>
                        <param name="content" value="(ec:label('unreadable'), ', ', ec:label('supplied-after', false()), ' ', @wit)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="handShift">
                    <model behaviour="note">
                        <param name="place" value="'footnote'"/>
                        <param name="type" value="'text-critical'"/>
                        <param name="content" value="(ec:label('handswitch'), ec:scribe(@scribe))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="@place" behaviour="note">
                        <param name="place" value="@place"/>
                        <param name="label" value="@n"/>
                    </model>
                    <model behaviour="note">
                        <param name="type" value="'note'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model output="latex" predicate="@rend='sup'" behaviour="inline">
                        <pb:template>\textsuperscript{[[content]]}</pb:template>
                    </model>
                    <model output="latex" predicate="not(@rend='sup')" behaviour="inline">
                        <param name="content" value="."/>
                    </model>
                    <model predicate="@rend='sup'" behaviour="inline">
                        <outputRendition>
                            font-size: 80%; vertical-align: top;
                        </outputRendition>
                    </model>
                    <model predicate="@rend!='sup' and @hand" behaviour="alternote">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:translate(@rend), ' ', ec:translate(@hand, 0, 'lowercase'))"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@rend!='sup'" behaviour="alternote">
                        <param name="content" value="."/>
                        <param name="alternate" value="ec:translate(@rend)"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="space" mode="change">
                    <model behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="text{'...'}"/>
                        <param name="alternate" value="(ec:label('gap-in-orig'), ' (' , @quantity , text{' '} , ec:translate(@unit, @quantity, 'lowercase'), text{')'})"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="gap" mode="change">
                    <model predicate="parent::damage" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="text{'[...]'}"/>
                        <param name="alternate" value="(ec:translate(parent::damage/@agent, 0, 'lowercase'), ' ', ec:label('del-gap'), ' (', @quantity, text{' '}, ec:translate(@unit, @quantity, 'lowercase'), text{')'} )"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@reason='irrelevant'" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="text{'[...]'}"/>
                        <param name="alternate" value="ec:label('irrelevant')"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@reason='illegible'" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="text{'[...]'}"/>
                        <param name="alternate" value="(ec:label('unreadable'), ' (' , @quantity , text{' '} , ec:translate(@unit, @quantity, 'lowercase'), text{')'})"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="@source" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="text{'[...]'}"/>
                        <param name="alternate" value="(ec:label('compare'), ' ', @source)"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="desc" behaviour="inline">
                        <outputRendition>
                            color: grey;
                        </outputRendition>
                    </model>
                    <model predicate="@extent" behaviour="inline" cssClass="text-critical">
                        <param name="content" value="@extent"/>
                        <outputRendition scope="before">
                            content: '[..';
                        </outputRendition>
                        <outputRendition scope="after">
                            content: '..]';
                        </outputRendition>
                        <outputRendition>
                            color: grey;
                        </outputRendition>
                    </model>
                    <model behaviour="inline" cssClass="text-critical">
                        <outputRendition scope="before">
                            content: '[...]';
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="foreign" mode="change">
                    <model output="latex" behaviour="inline">
                        <param name="content" value="."/>
                    </model>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('lang-switch'), ' ', ec:label(@xml:lang))"/>
                        <outputRendition>
                            color: black;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="term" mode="change">
                    <model output="latex" behaviour="inline">
                        <param name="ref" value="@ref"/>
                        <pb:template>\term{[[ref]]}{[[content]]}</pb:template>
                    </model>
                    <model behaviour="reference" cssClass="semantic term">
                        <desc>Semantic highlighting of keywords and lemmata with dark-red text color</desc>
                        <param name="content" value="."/>
                        <param name="ref" value="@ref"/>
                        <param name="label" value="ec:label('term')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model output="latex" behaviour="inline">
                        <param name="ref" value="@ref"/>
                        <pb:template>\persname{[[ref]]}{[[content]]}</pb:template>
                    </model>
                    <model behaviour="reference" cssClass="semantic person">
                        <desc>Semantic highlighting of person with blue text color</desc>
                        <param name="content" value="."/>
                        <param name="ref" value="@ref"/>
                        <param name="label" value="ec:label('person')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="orgName" mode="add">
                    <model output="latex" behaviour="inline">
                        <param name="ref" value="@ref"/>
                        <pb:template>\persname{[[ref]]}{[[content]]}</pb:template>
                    </model>
                    <model behaviour="reference" cssClass="semantic organization">
                        <desc>Semantic highlighting of organization names with tooltip and blue text color</desc>
                        <param name="content" value="."/>
                        <param name="ref" value="@ref"/>
                        <param name="label" value="ec:label('organisation')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model output="latex" behaviour="inline">
                        <param name="ref" value="@ref"/>
                        <pb:template>\placename{[[ref]]}{[[content]]}</pb:template>
                    </model>
                    <model behaviour="reference" cssClass="semantic place">
                        <desc>Semantic highlighting of place names with tooltip and green text color</desc>
                        <param name="content" value="."/>
                        <param name="label" value="ec:label('place')"/>
                        <param name="ref" value="@ref"/>
                    </model>
                </elementSpec>
                <elementSpec ident="origPlace" mode="add">
                    <model predicate="parent::origin and node()" behaviour="listItem">
                        <param name="content" value="(ec:label('origPlace'), ec:colon(), .)"/>
                    </model>
                    <model predicate="parent::origin" behaviour="omit">
                        <desc>Leeres Element im header</desc>
                    </model>
                    <model output="web" behaviour="reference" cssClass="semantic place">
                        <desc>Semantic highlighting of origPlace names with tooltip and green text color</desc>
                        <param name="content" value="."/>
                        <param name="label" value="ec:label('origPlace')"/>
                        <param name="ref" value="@ref"/>
                    </model>
                    <model behaviour="alternate" cssClass="semantic place">
                        <desc>Semantic highlighting of origPlace names with tooltip and green text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('origPlace'), ec:colon(), . )"/>
                    </model>
                </elementSpec>
                <elementSpec ident="num" mode="change">
                    <model behaviour="alternate" cssClass="text-critical">
                        <desc>Display number in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('amount'), ec:colon(), @value)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="time" mode="change">
                    <model predicate="@period" behaviour="alternate" cssClass="text-critical">
                        <desc>Display time with given parameter in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('duration'), ec:colon(), ec:translate(@period, 0, ()))"/>
                    </model>
                    <model predicate="@when" behaviour="alternate" cssClass="text-critical">
                        <desc>Display time with given parameter in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('time'), ec:colon(), format-time(@when, '[H]:[m]'))"/>
                    </model>
                    <model predicate="@dur" behaviour="alternate" cssClass="text-critical">
                        <desc>Display time in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('duration'), ec:colon(), ec:format-duration(@dur))"/>
                    </model>
                    <model behaviour="alternate" cssClass="text-critical">
                        <desc>Display time in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="ec:label('time')"/>
                    </model>
                </elementSpec>
                <elementSpec ident="measure" mode="change">
                    <model behaviour="alternate" cssClass="text-critical">
                        <desc>Display measurement with given parameters in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:translate(@type, 0, 'uppercase'), ec:colon(), @quantity, text{' '}, ec:translate(@origin, 0, 'lowercase'), text{' '}, ec:translate(@unit, @quantity, 'lowercase'), text{' '}, ec:translate(@commodity, 0, 'lowercase'))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <!-- Achtung Sprachabhängigkeit, 'S. ' sollte nicht hier oder in CSS definiert werden (aber Latein ist die Lösung :-) -->
                    <model output="latex" predicate="preceding-sibling::*[1][self::seg]" behaviour="omit">
                        <desc>seg directly followed by pb is handled by seg</desc>
                    </model>
                    <model output="latex" predicate="ancestor::text and not(preceding::pb[ancestor::text]) and @n" behaviour="inline">
                        <desc>Show page number only at first pagebreak</desc>
                        <param name="page" value="('p. ', @n)"/>
                        <pb:template>\noindent \textit{[[[page]]]}</pb:template>
                    </model>
                    <model output="latex" predicate="@n" behaviour="inline">
                        <param name="page" value="('p. ', @n)"/>
                        <pb:template>\noindent \pb{} \textit{[[[page]]]}</pb:template>
                    </model>
                    <model output="latex" behaviour="omit">
                        <pb:template>\noindent \pb{}</pb:template>
                    </model>
                    <model predicate="following-sibling::node()[1][self::lb]" behaviour="copy">
                        <desc>If followed by an lb, process the lb first, then the pb</desc>
                        <param name="content" value="(following-sibling::lb[1], $node)"/>
                    </model>
                    <modelSequence output="web">
                        <model predicate="@facs" behaviour="inline">
                            <desc>Facsimile image links will be extracted via javascript</desc>
                            <param name="src" value="@facs || '.ptif'"/>
                            <pb:template>
                                <span xmlns="" class="facs" data-facs="[[src]]"/>
                            </pb:template>
                            <outputRendition>
                                display: none;
                            </outputRendition>
                        </model>
                        <modelGrp>
                            <model predicate="not(@n)" behaviour="alternate" cssClass="pb-empty">
                                <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                                <param name="default" value="'|'"/>
                                <param name="alternate" value="ec:label('pb')"/>
                            </model>
                            <model predicate="@n and number(@n) gt 0" behaviour="alternate" cssClass="pb-pagination">
                                <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only contains a number</desc>
                                <param name="default" value="@n"/>
                                <param name="alternate" value="ec:label('pb')"/>
                            </model>
                            <model predicate="@n and not(number(@n) gt 0)" behaviour="alternate" cssClass="pb-foliation">
                                <desc>Show pagebreak with a label, if pb contains a @n attribute and its value contains a number+string combination</desc>
                                <param name="default" value="@n"/>
                                <param name="alternate" value="ec:label('pb')"/>
                            </model>
                        </modelGrp>
                    </modelSequence>
                    <modelGrp output="print">
                        <model predicate="ancestor::text and not(preceding::pb[ancestor::text])" behaviour="omit">
                            <desc>Hide the very first pagebreak in a document</desc>
                        </model>
                        <model predicate="following-sibling::node()[1][self::lb]" behaviour="copy">
                            <desc>If followed by an lb, process the lb first, then the pb</desc>
                            <param name="content" value="(following-sibling::lb[1], $node)"/>
                        </model>
                        <model predicate="not(@*)" behaviour="alternate" cssClass="pb-empty">
                            <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                            <param name="default" value="'|'"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model predicate="number(@n) gt 0" behaviour="alternate" cssClass="pb-pagination">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only contains a number</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                        <model behaviour="alternate" cssClass="pb-foliation">
                            <desc>Show pagebreak with a label, if pb contains a @n attribute and its value contains a number+string combination</desc>
                            <param name="default" value="@n"/>
                            <param name="alternate" value="ec:label('pb')"/>
                        </model>
                    </modelGrp>
                </elementSpec>
                <elementSpec ident="q" mode="change">
                    <model behaviour="inline" cssClass="quote-inline" useSourceRendition="true">
                        <desc>Add css class for quotes</desc>
                    </model>
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <model behaviour="inline">
                        <desc>No quotes</desc>
                    </model>
                </elementSpec>
                <elementSpec ident="supplied" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <model predicate="@reason" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:translate(@reason, 0, 'uppercase'), ', ', ec:label('supplied', false()))"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model predicate="@resp" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="ec:label('supplied')"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model predicate="parent::damage and @source" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:translate(parent::damage/@agent, 0, 'uppercase'), text{', '}, if (@reason) then text{ec:translate(@reason, 0, 'lowercase') || ', '} else (), ec:label('supplied-after', false()), ' ', @source)"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model predicate="@source and @reason" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="(ec:translate(@reason, 0, 'uppercase'), ec:label('supplied-after', false()), ' ', @source)"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model predicate="@source" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="."/>
                        <param name="alternate" value="( ec:label('supplied-after'), ' ', @source)"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                    <model behaviour="inline" cssClass="text-critical">
                        <outputRendition scope="before">
                            content:"[";
                        </outputRendition>
                        <outputRendition scope="after">
                            content:"]";
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="titleStmt" mode="change">
                    <model output="latex" behaviour="meta">
                        <param name="content" value="."/>
                    </model>
                    <model output="fo" behaviour="heading"/>
                    <modelSequence output="web" predicate="$parameters?header='short'">
                        <model behaviour="block">
                            <param name="content" value="title[1]"/>
                        </model>
                        <model behaviour="block">
                            <param name="content" value="subsequence(title, 2)"/>
                        </model>
                        <model behaviour="block">
                            <param name="content" value="author"/>
                        </model>
                    </modelSequence>
                    <model output="web" behaviour="block"/>
                </elementSpec>
                <elementSpec ident="fileDesc" mode="change">
                    <modelSequence predicate="$parameters?header='short'">
                        <desc>Output a short header to be used in document listings</desc>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="ec:format-id(seriesStmt/idno)"/>
                        </model>
                        <model behaviour="link" cssClass="header-short">
                            <param name="content" value="sourceDesc/msDesc/head"/>
                            <param name="link" value="$parameters?doc"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="sourceDesc/msDesc/history/origin/origDate"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="editionStmt"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="publicationStmt"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="titleStmt"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="back" mode="change">
                    <desc>back contains the commentary, which should appear as a numbered list</desc>
                    <model output="latex" behaviour="block">
                        <pb:template>
                            \begin{intro}
                            [[content]]
                            \end{intro}
                        </pb:template>
                    </model>
                    <model predicate="div/@n" behaviour="list">
                        <param name="type" value="'ordered'"/>
                    </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="parent::back and @n" behaviour="listItem">
                        <desc>output as list item if in commentary</desc>
                    </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model output="latex" predicate="following-sibling::*[1][self::pb]" behaviour="inline">
                        <param name="n" value="if (@n) then ('[', @n, ']') else ()"/>
                        <param name="pagebreak" value="if (following-sibling::*[1][@n]) then ('\pb{} \textit{[p. ', following-sibling::*[1]/@n, ']}') else '\pb{}'"/>
                        <pb:template>
                            \noindent [[n]] [[content]] [[pagebreak]]
                            \vspace{1mm}
                        </pb:template>
                    </model>
                    <model output="latex" predicate="@n" behaviour="block">
                        <!--<param name="content" value="replace(., '\s+', ' ')"/>-->
                        <param name="n" value="@n"/>
                        <pb:template>
                            \noindent [[[n]]] [[content]]
                            \vspace{1mm}
                        </pb:template>
                    </model>
                    <model output="latex" behaviour="block">
                        <pb:template>
                            \noindent [[content]]
                            \vspace{1mm}
                        </pb:template>
                    </model>
                    <model behaviour="inline">
                        <param name="content" value="."/>
                    </model>
                </elementSpec>
                <elementSpec ident="ab" mode="change">
                    <model output="latex" behaviour="block">
                        <param name="place" value="('[', string-join((ec:translate(@type, 0, 'lowercase'),ec:translate(@place, 0, 'lowercase'),ec:translate(@hand, 0, 'lowercase')), ' '), if (@scribe) then (' ', ec:label('by', false()), ec:scribe(@scribe)) else (), ec:punct(':', false()), ']')"/>
                        <pb:template>
                            \medskip
                            \noindent
                            \textit{[[place]]} [[content]]
                        </pb:template>
                    </model>
                    <model predicate="@place" behaviour="block" cssClass="ab">
                        <param name="content" value="('[', string-join((ec:translate(@type, 0, 'lowercase'),ec:translate(@place, 0, 'lowercase'),ec:translate(@hand, 0, 'lowercase')), ' '), if (@scribe) then (' ', ec:label('by', false()), ec:scribe(@scribe)) else (), ec:punct(':', false()), '] ', .)"/>
                        <outputRendition>
                            font-size: 1.5rem;
                        </outputRendition>
                    </model>
                    <model behaviour="paragraph"/>
                </elementSpec>
                <elementSpec ident="subst" mode="change">
                    <model predicate="add/@hand" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="add"/>
                        <param name="prefix" value="(ec:label('add', true()), ' ', ec:translate(add/@place, 0, 'lowercase'), ' ', ec:translate(add/@hand, 0, 'lowercase'), ', ', ec:label('replace', false()), ec:colon())"/>
                        <param name="alternate" value="del"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="add" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="add"/>
                        <param name="prefix" value="(ec:label('add', true()), ' ', ec:translate(add/@place, 0, 'lowercase'), ', ', ec:label('replace', false()), ec:colon())"/>
                        <param name="alternate" value="del"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="date" mode="change">
                    <model output="latex" predicate="@when and ancestor::body" behaviour="inline">
                        <param name="date" value="ec:format-date(@when)"/>
                        <pb:template>[[content]] \textit{[[[date]]]}</pb:template>
                    </model>
                    <model output="latex" predicate="@from and @to and ancestor::body" behaviour="inline">
                        <param name="date" value="(ec:format-date(@from), ' – ', ec:format-date(@to))"/>
                        <pb:template>[[content]] \textit{[[[date]]]}</pb:template>
                    </model>
                    <model output="web" predicate="@when and @type" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('date'), ec:colon(), ec:format-date(@when), ' (', ec:translate(@type, 0, ()), ')')"/>
                    </model>
                    <model output="web" predicate="@when and @calendar" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('date'), ec:colon(), ec:format-date(@when), ' (', ec:translate(@calendar, 0, ()), ')')"/>
                    </model>
                    <model output="web" predicate="@when" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('date'), ec:colon(), ec:format-date(@when))"/>
                    </model>
                    <model output="web" predicate="@from and @to" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('date'), ec:colon(), ec:format-date(@from), ' – ', ec:format-date(@to))"/>
                    </model>
                    <model output="web" predicate="@period" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('duration'), ec:colon(), ec:translate(@period, 0, ()))"/>
                    </model>
                    <model output="web" predicate="@dur[starts-with(., 'R/P')]" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('repeated-duration'), ec:colon(), ec:format-duration(substring-after(@dur, 'R/')))"/>
                    </model>
                    <model output="web" predicate="@dur" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('duration'), ec:colon(), ec:format-duration(@dur))"/>
                    </model>
                    <model predicate="@type" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="(ec:label('date'), ' ', ec:translate(@type, 0, ()) )"/>
                    </model>
                    <model predicate="text()" behaviour="inline" cssClass="text-critical"/>
                </elementSpec>
                <elementSpec ident="msDesc" mode="add">
                    <desc>Stückbeschreibung ausgeben</desc>
                    <!--<model output="latex" predicate="not(starts-with(msContents/msItem/filiation[@type='current'], 'Original'))" behaviour="block">-->
                    <model output="latex" predicate="count(msContents/msItem/filiation) &gt; 1" behaviour="block">
                        <param name="copy" value="(ec:label('copy'), ec:punct(':', false()))"/>
                        <param name="idno" value="(msIdentifier, ec:semicolon())"/>
                        <param name="filiation" value="(msContents/msItem/filiation[@type='current']/text(), ec:semicolon())"/>
                        <param name="material" value="physDesc/objectDesc/supportDesc/support/material/text()"/>
                        <param name="dimensions" value="if (physDesc/objectDesc/supportDesc/extent) then (', ', physDesc/objectDesc/supportDesc/extent/dimensions) else ()"/>
                        <param name="condition" value="if (physDesc/objectDesc/supportDesc/condition) then (', ' || physDesc/objectDesc/supportDesc/condition/text()) else ()"/>
                        <param name="seal" value="if (physDesc/sealDesc/seal/node()) then (ec:semicolon(), physDesc/sealDesc) else ()"/>
                        <pb:template>
                            \manudesc{\textbf{[[copy]]} [[idno]][[filiation]][[material]][[dimensions]][[condition]][[seal]].}
                        </pb:template>
                    </model>
                    <model output="latex" behaviour="block">
                        <param name="original" value="(ec:label('original'), ec:punct(':', false()))"/>
                        <param name="idno" value="(msIdentifier, ec:semicolon())"/>
                        <param name="filiation" value="if (msContents/msItem/filiation[@type='current']='Original' or msContents/msItem/filiation[@type='current']='') then () else (msContents/msItem/filiation[@type='current']/text(), ec:semicolon())"/>
                        <param name="material" value="physDesc/objectDesc/supportDesc/support/material/text()"/>
                        <param name="dimensions" value="if (physDesc/objectDesc/supportDesc/extent) then (', ', physDesc/objectDesc/supportDesc/extent/dimensions) else ()"/>
                        <param name="condition" value="if (physDesc/objectDesc/supportDesc/condition) then (', ' || physDesc/objectDesc/supportDesc/condition/text()) else ()"/>
                        <param name="seal" value="if (physDesc/sealDesc/seal/node()) then (ec:semicolon(), physDesc/sealDesc) else ()"/>
                        <pb:template>
                            \manudesc{\textbf{[[original]]} [[idno]][[filiation]][[material]][[dimensions]][[condition]][[seal]].}
                        </pb:template>
                    </model>
                    <model behaviour="list">
                        <param name="content" value="(msIdentifier,history/origin/origDate,msContents/msItem/filiation[@type='current'], physDesc/objectDesc/supportDesc/condition, physDesc/objectDesc/supportDesc, physDesc, history/origin/origPlace, msContents/msItem/textLang, msContents/msItem/author[@role=&#34;scribe&#34;], additional)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="msIdentifier">
                    <model output="latex" behaviour="inline">
                        <param name="content" value="string-join((idno, altIdentifier/idno), ', ')"/>
                    </model>
                    <modelSequence>
                        <model behaviour="listItem">
                            <param name="content" value="idno"/>
                        </model>
                        <model behaviour="listItem">
                            <param name="content" value="altIdentifier/idno"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="msItem">
                    <model behaviour="listItem">
                        <param name="content" value="filiation[@type='current']"/>
                    </model>
                </elementSpec>
                <elementSpec ident="idno">
                    <model predicate="parent::altIdentifier" behaviour="inline">
                        <param name="content" value="(ec:label('signatureAlt'), ec:colon(), .)"/>
                    </model>
                    <model behaviour="inline">
                        <param name="content" value="(ec:label('signature'), ec:colon(), .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="filiation">
                    <model predicate="text() and origDate/@when" behaviour="inline">
                        <param name="content" value="(ec:label('other-source'), ec:colon(), text()[1], ', ', format-date(xs:date(origDate/@when), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()))"/>
                    </model>
                    <model predicate="text() and origDate/@from" behaviour="inline">
                        <param name="content" value="(ec:label('other-source'), ec:colon(), text()[1], ', ', format-date(xs:date(origDate/@from), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()), ' – ', format-date(xs:date(origDate/@to), '[Y] [MNn] [D1]', (session:get-attribute('ssrq.lang'), 'de')[1], (), ()))"/>
                    </model>
                    <model predicate="text()" behaviour="inline">
                        <param name="content" value="(ec:label('other-source'), ec:colon(), text()[1])"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="condition">
                    <model behaviour="listItem">
                        <param name="content" value="(ec:label('condition'), ec:colon(), .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="physDesc">
                    <model behaviour="listItem">
                        <param name="content" value="sealDesc"/>
                    </model>
                </elementSpec>
                <elementSpec ident="supportDesc">
                    <modelSequence>
                        <model behaviour="listItem">
                            <param name="content" value="support/material"/>
                        </model>
                        <model behaviour="listItem">
                            <param name="content" value="extent/dimensions"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="material">
                    <model predicate="node() or @*" behaviour="inline">
                        <param name="content" value="(ec:label('surface'), ec:colon(), .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="dimensions">
                    <model output="latex" predicate="@type = 'leaves' and (width/@quantity &gt; 0 or height/@quantity &gt; 0)" behaviour="inline">
                        <param name="content" value="(string-join((width/@quantity,height/@quantity), '\,×\,'), '~cm')"/>
                    </model>
                    <model output="latex" predicate="@type = 'plica' and width/@quantity &gt; 0" behaviour="inline">
                        <param name="content" value="' (Plica: ' || width/@quantity || ')'"/>
                    </model>
                    <model predicate="@type = 'leaves' and (width/@quantity &gt; 0 or height/@quantity &gt; 0)" behaviour="inline">
                        <param name="content" value="(ec:label('format'), ' (cm)', ec:colon(), string-join((width/@quantity,height/@quantity), ' × ') )"/>
                    </model>
                    <model predicate="@type = 'plica' and width/@quantity &gt; 0" behaviour="inline">
                        <param name="content" value="' (Plica' || ec:colon() || width/@quantity || ')'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="sealDesc">
                    <model output="latex" predicate="seal and seal/node()" behaviour="inline">
                        <param name="summary" value="(count(seal), ' ', ec:label('sigle'), ec:colon())"/>
                        <param name="details" value="string-join(for $seal at $pos in seal return ($pos || '. ' || string-join(($seal/(persName|orgName)/text(), if ($seal/(persName|orgName)/text()) then ', ' else (), string-join(($seal/@nontei:material,$seal/@nontei:shape,$seal/@nontei:extent,$seal/@nontei:attachment,$seal/@nontei:condition) ! ec:translate(., 0, ()), ', ')))), '; ')"/>
                        <pb:template>[[summary]][[details]]</pb:template>
                    </model>
                    <modelSequence predicate="seal and seal/node()">
                        <model behaviour="inline">
                            <param name="content" value="(count(seal), ' ', ec:label('sigle'), ec:colon())"/>
                        </model>
                        <model behaviour="list">
                            <param name="type" value="'ordered'"/>
                        </model>
                    </modelSequence>
                    <model predicate="not(seal)" behaviour="listItem">
                        <desc>sealDesc in "weitere Überlieferungen"</desc>
                        <param name="content" value="(ec:label('sigle'), ec:colon(), .)"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="seal">
                    <model behaviour="listItem">
                        <param name="content" value="(persName|orgName, if ((persName|orgName)/text()) then ', ' else (), string-join((@nontei:material,@nontei:shape,@nontei:extent,@nontei:attachment,@nontei:condition) ! ec:translate(., 0, ()), ', '))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model output="latex" predicate="preceding-sibling::*[1][self::pb]" behaviour="inline">
                        <pb:template>[[content]]
                            \vspace{1mm}
                        </pb:template>
                    </model>
                    <model output="latex" behaviour="block">
                        <pb:template>
                            [[content]]
                            \vspace{1mm}
                        </pb:template>
                    </model>
                    <model predicate="$parameters?header='short'" behaviour="heading">
                        <param name="content" value="replace(string-join(.//text() except .//ref//text()), '^(.*?)[^\w]*$', '$1')"/>
                    </model>
                    <model predicate="parent::figure" behaviour="block">
                        <outputRendition>
                            font-style: italic;
                        </outputRendition>
                    </model>
                    <model predicate="parent::table" behaviour="caption">
                        <desc>head inside table should be output as caption element</desc>
                    </model>
                    <model predicate="parent::lg" behaviour="block">
                        <outputRendition>
                            font-style: italic;
                        </outputRendition>
                    </model>
                    <model predicate="parent::list" behaviour="block">
                        <outputRendition>
                            font-weight: bold;
                        </outputRendition>
                    </model>
                    <model predicate="ancestor::app" behaviour="inline">
                        <desc>Heading in app (don't format)</desc>
                    </model>
                    <model predicate="@resp" behaviour="omit">
                        <desc>Supplied heading: output in brackets if @resp</desc>
                        <param name="level" value="2"/>
                        <param name="content" value="."/>
                        <outputRendition scope="before">
                            content: '[';
                        </outputRendition>
                        <outputRendition scope="after">
                            content: ']';
                        </outputRendition>
                    </model>
                    <model predicate="@type = 'title'" behaviour="heading">
                        <param name="level" value="1"/>
                    </model>
                    <model behaviour="heading" useSourceRendition="true">
                        <param name="level" value="2"/>
                    </model>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model output="latex" predicate="matches(., '^(?:SSRQ|SDS|FDS)_')" behaviour="inline">
                        <param name="content" value="ec:format-id(.)"/>
                    </model>
                    <model predicate="ancestor::div/@type='collection'" behaviour="link">
                        <desc>Link in Klammerdokument</desc>
                        <param name="link" value="string() || '.xml'"/>
                        <param name="content" value="(doc(util:collection-name(.) || '/' || . || '.xml')//sourceDesc/msDesc/head/text(), ' (', ec:format-id(.), ')')"/>
                    </model>
                    <model predicate="not(@target) and matches(., '^(?:SSRQ|SDS|FDS)_')" behaviour="link">
                        <desc>Link auf ein anderes Dokument innerhalb Portal</desc>
                        <param name="link" value="string() || &#34;.xml&#34;"/>
                    </model>
                    <model predicate="not(@target)" behaviour="inline">
                        <desc>Link ohne Verweisadresse</desc>
                    </model>
                    <model predicate="not(text())" behaviour="link">
                        <param name="content" value="@target"/>
                        <param name="link" value="@target"/>
                    </model>
                    <model behaviour="link">
                        <param name="link" value="@target"/>
                        <param name="target" value="'_new'"/>
                    </model>
                </elementSpec>
                <elementSpec ident="text()">
                    <model output="latex" behaviour="text">
                        <param name="content" value="replace(., '&amp;amp;', '\\&amp;amp;')"/>
                    </model>
                    <model behaviour="content"/>
                </elementSpec>
                <elementSpec ident="author" mode="change">
                    <model behaviour="listItem">
                        <desc>Ausgabe des Schreibers im Header</desc>
                        <param name="content" value="(ec:label('scriptor'), ec:colon(), .)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="listBibl" mode="change">
                    <model output="latex" predicate="bibl/node()" behaviour="block">
                        <param name="type" value="(head/text(), ec:punct(':', false()))"/>
                        <param name="content" value="if (starts-with(head, 'URL')) then string-join(for $bibl in bibl return '\url{' || tokenize($bibl)[1] || '}', ec:semicolon()) else string-join(bibl, ec:semicolon())"/>
                        <pb:template>
                            \manudesc{\textbf{[[type]]} [[content]]}
                        </pb:template>
                    </model>
                    <model output="latex" predicate="not(bibl/node())" behaviour="omit"/>
                    <modelSequence predicate="not($parameters?mode = 'filiation')">
                        <desc>Ausgabe Bibliographie, aber nicht in "weitere Überlieferungen"</desc>
                        <model behaviour="heading">
                            <desc>Titel des Bibliographieabschnitts</desc>
                            <param name="content" value="head/node()"/>
                            <param name="level" value="5"/>
                            <outputRendition>
                                margin-top: 1em;
                            </outputRendition>
                        </model>
                        <model behaviour="list">
                            <desc>Liste der Bibliographieeinträge</desc>
                            <param name="content" value="bibl"/>
                        </model>
                    </modelSequence>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="bibl" mode="change">
                    <model predicate="@type='url'" behaviour="inline">
                        <param name="url" value="string()"/>
                        <pb:template>
                            <li xmlns="">
                                <a href="[[url]]" target="_blank">[[url]]</a>
                            </li>
                        </pb:template>
                    </model>
                    <model predicate="ancestor::teiHeader" behaviour="listItem"/>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="additional" mode="add">
                    <model behaviour="listItem"/>
                </elementSpec>
                <elementSpec ident="textLang" mode="add">
                    <model behaviour="listItem">
                        <desc>Ausgabe Sprache in "weitere Überlieferungen"</desc>
                        <param name="content" value="(ec:label('language'), ec:colon(), string-join(for $lang in tokenize(., ', *') return ec:label($lang), ', '))"/>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>