resources/odd/ssrq-norm.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:nontei="http://ssrq-sds-fds.ch/ns/nonTEI" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model for SSRQ</title>
                <title type="sub">Version for Normalized Rendering</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="ssrq.odd" ident="ssrq-norm">
                <elementSpec ident="lb" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model predicate="ancestor::text and not(preceding::pb[ancestor::text])" behaviour="omit">
                        <desc>Hide the very first pagebreak in a document</desc>
                    </model>
                    <model predicate="not(@*)" behaviour="alternate" cssClass="pb-norm pb-empty">
                        <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                        <param name="default" value="'|'"/>
                        <param name="alternate" value="text{'Seitenumbruch'}"/>
                    </model>
                    <model predicate="number(@n) gt 0" behaviour="alternate" cssClass="pb-norm pb-pagination">
                        <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only contains a number</desc>
                        <param name="default" value="@n"/>
                        <param name="alternate" value="text{'Seitenumbruch'}"/>
                    </model>
                    <model behaviour="alternate" cssClass="pb-norm pb-foliation">
                        <desc>Show pagebreak with a label, if pb contains a @n attribute and its value contains a number+string combination</desc>
                        <param name="default" value="@n"/>
                        <param name="alternate" value="text{'Seitenumbruch'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model predicate="@n" behaviour="block">
                        <param name="content" value="(text{'['}, @n, text{'] '}, .)"/>
                    </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model behaviour="listItem" predicate="parent::back and @n">
                        <desc>output as list item if in commentary</desc>
                    </model>
                    <model behaviour="section" predicate="parent::body or parent::front or parent::back"/>
                    <model behaviour="block" predicate="@n">
                        <param name="content" value="(text{'['}, @n, text{'] '}, .)"/>
                    </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model output="plain" predicate="sic and corr" behaviour="inline">
                        <param name="content" value="corr[1]"/>
                    </model>
                    <model output="plain" predicate="abbr and expan" behaviour="inline">
                        <param name="content" value="expan[1]"/>
                    </model>
                    <model output="plain" predicate="orig and reg" behaviour="inline">
                        <param name="content" value="reg[1]"/>
                    </model>
                    <model predicate="sic and corr" behaviour="alternote" cssClass="text-critical">
                        <param name="content" value="corr"/>
                        <param name="alternate" value="('In der Vorlage: ', sic/node())"/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="abbr and expan" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="expan[1]"/>
                        <param name="alternate" value="('In der Vorlage: ', abbr[1])"/>
                    </model>
                    <model predicate="orig and reg" behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="reg[1]"/>
                        <param name="alternate" value="orig[1]"/>
                    </model>
                </elementSpec>
                <elementSpec ident="expan" mode="change">
                    <model behaviour="inline"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
