resources/odd/ssrq.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model Customization</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd" ident="ssrq">
                <elementSpec ident="lb" mode="change">
                    <model predicate="not(preceding-sibling::lb)" behaviour="omit"/>
                    <modelSequence predicate="@break='no'">
                        <model behaviour="inline">
                            <outputRendition scope="before">content: '-';</outputRendition>
                        </model>
                        <model behaviour="break">
                            <param name="type" value="'page'"/>
                            <param name="label" value="@n"/>
                            <outputRendition>display: block;</outputRendition>
                        </model>
                    </modelSequence>
                  <model behaviour="break">
                    <param name="type" value="'line'"/>
                    <param name="label" value="@n"/>
                  </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model output="plain" predicate="sic and corr" behaviour="inline">
                        <param name="content" value="corr[1]"/>
                    </model>
                    <model output="plain" predicate="abbr and expan" behaviour="inline">
                        <param name="content" value="expan[1]"/>
                    </model>
                    <model output="plain" predicate="orig and reg" behaviour="inline">
                        <param name="content" value="reg[1]"/>
                    </model>
                    <model predicate="sic and corr" behaviour="alternate">
                        <param name="default" value="corr[1]"/>
                        <param name="alternate" value="sic[1]"/>
                    </model>
                    <model predicate="abbr and expan" behaviour="alternate">
                        <param name="default" value="abbr[1]"/>
                        <param name="alternate" value="expan[1]"/>
                    </model>
                    <model predicate="orig and reg" behaviour="alternate">
                        <param name="default" value="reg[1]"/>
                        <param name="alternate" value="orig[1]"/>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>