resources/odd/ssrq.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model Customization</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd" ident="ssrq">
                <elementSpec ident="lb" mode="change">
                    <model predicate="not(preceding-sibling::lb)" behaviour="omit"/>
                    <modelSequence predicate="@break='no'">
                        <model behaviour="inline">
                            <outputRendition scope="before">content: '-';</outputRendition>
                        </model>
                        <model behaviour="break">
                            <param name="type" value="'page'"/>
                            <param name="label" value="@n"/>
                            <outputRendition>display: block;</outputRendition>
                        </model>
                    </modelSequence>
                  <model behaviour="break">
                    <param name="type" value="'line'"/>
                    <param name="label" value="@n"/>
                  </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model output="plain" predicate="sic and corr" behaviour="inline">
                        <param name="content" value="corr[1]"/>
                    </model>
                    <model output="plain" predicate="abbr and expan" behaviour="inline">
                        <param name="content" value="expan[1]"/>
                    </model>
                    <model output="plain" predicate="orig and reg" behaviour="inline">
                        <param name="content" value="reg[1]"/>
                    </model>
                    <model predicate="sic and corr" behaviour="inline">
                    </model>
                    <model predicate="abbr and expan" behaviour="alternate">
                        <param name="default" value="abbr[1]"/>
                        <param name="alternate" value="expan[1]"/>
                    </model>
                    <model predicate="orig and reg" behaviour="alternate">
                        <param name="default" value="orig[1]"/>
                        <param name="alternate" value="reg[1]"/>
                    </model>
                </elementSpec>
                <elementSpec ident="expan" mode="change">
                    <model predicate="parent::choice" behaviour="inline">
                        <outputRendition scope="before">content: 'Aufgelöste Abkürzung: '</outputRendition>
                    </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="abbr" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                    <model predicate="unclear" behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Abkürzung, unsichere Lesung'}"/>
                    </model>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Abkürzung'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="unclear" mode="change">
                    <model predicate="parent::damage or parent::del or parent::abbr" behaviour="inline"/>
                    <modelSequence>
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="text{'Unsichere Lesung'}"/>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Unsichere Lesung'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="corr" mode="change">
                    <model predicate="parent::choice" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">content: 'Korrigiert: ';</outputRendition>
                    </model>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Korrektur'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="sic" mode="change">
                    <model predicate="parent::choice and count(parent::*/*) gt 1" behaviour="inline"/>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Abkürzung'}"/>
                    </model>
                    <model behaviour="inline">
                        <outputRendition scope="after">content: ' [sic]';</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="origPlace" mode="add">
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Ausstellungsort'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="origDate" mode="add">
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="(text{'Originaldatierung: '}, @when)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model predicate="@rend" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="content" value="@rend || ': ' || . "/>
                        <param name="type" value="'text-critical'"/>
                    </model>
                    <model predicate="not(@*)" behaviour="note">
                        <param name="place" value="&#34;footnote&#34;"/>
                        <param name="type" value="'text-critical'"/>
                        <outputRendition scope="before">
                            content: 'Streichung: ';
                        </outputRendition>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="@place" behaviour="note">
                        <param name="place" value="@place"/>
                        <param name="label" value="@n"/>
                    </model>
                    <model behaviour="note">
                        <param name="type" value="'note'"/>
                    </model>
                </elementSpec> 
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='sup'" behaviour="inline" cssClass="text-critical">
                        <outputRendition>font-size: 80%; vertical-align: top;</outputRendition>
                    </model>
                    <modelSequence predicate="@rend='underline'">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="text{'Unterstrichen'}"/>
                            <outputRendition>text-decoration: underline;</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Unterstrichen'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                    <model predicate="not(@rendition)" behaviour="inline">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="space" mode="change">
                    <modelSequence>
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="text{'...'}"/>
                            <param name="alternate" value="(text{'Lücke in der Vorlage ('} , @quantity , text{' '} , @unit , text{')'})"/>
                            <outputRendition>text-decoration: underline;</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Lücke in der Vorlage (' || @quantity || ' ' || @unit || ')'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="gap" mode="change">
                    <modelSequence predicate="@reason='illegible'">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="text{'[...]'}"/>
                            <param name="alternate" value="(text{'Unlesbar ('} , @quantity , text{' '} , @unit , text{')'})"/>
                            <outputRendition>text-decoration: underline;</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Unlesbar (' || @quantity || ' ' || @unit || ')'"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <modelSequence predicate="@source">
                        <model behaviour="alternate" cssClass="text-critical">
                            <param name="default" value="."/>
                            <param name="alternate" value="(text{'Vgl. '}, @source)"/>
                            <outputRendition>text-decoration: underline;</outputRendition>
                        </model>
                        <model behaviour="note">
                            <param name="place" value="&#34;footnote&#34;"/>
                            <param name="content" value="'Vgl. ' || @source"/>
                            <param name="type" value="'text-critical'"/>
                        </model>
                    </modelSequence>
                    <model predicate="desc" behaviour="inline">
                        <outputRendition>color: grey;</outputRendition>
                    </model>
                    <model predicate="@extent" behaviour="inline">
                        <param name="content" value="@extent"/>
                        <outputRendition scope="before">content: '[..';</outputRendition>
                        <outputRendition scope="after">content: '..]';</outputRendition>
                        <outputRendition>color: grey;</outputRendition>
                    </model>
                    <model behaviour="inline">
                        <outputRendition scope="before">content: '[...]';</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="foreign" mode="change">
                    <model behaviour="alternate" cssClass="text-critical">
                        <param name="default" value="."/>
                        <param name="alternate" value="@xml:lang"/>
                        <outputRendition>font-style:italic;</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="term" mode="change">
                    <model behaviour="inline" cssClass="semantic">
                        <desc>Semantic highlighting of keywords and lemmata with dark-red text color</desc>
                        <outputRendition>color: #b5221f;</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Semantic highlighting of person names with tooltip and blue text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Person'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="orgName" mode="add">
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Semantic highlighting of organization names with tooltip and blue text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Organisation'}"/>
                    </model>
                </elementSpec> 
                <elementSpec ident="placeName" mode="add">
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Semantic highlighting of place names with tooltip and blue text color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Ort'}"/>
                    </model>
                </elementSpec> 
                <elementSpec ident="num" mode="change">
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Display number in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(text{'Menge: '}, @value)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="time" mode="change">
                    <model predicate="@period" behaviour="alternate" cssClass="semantic">
                        <desc>Display time with given parameter in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(text{'Zeit: '}, @period)"/>
                    </model>
                    <model predicate="@when" behaviour="alternate" cssClass="semantic">
                        <desc>Display time with given parameter in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="(text{'Zeit: '}, @when)"/>
                    </model>
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Display time in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Zeit'}"/>
                    </model>
                </elementSpec>
                <elementSpec ident="measure" mode="change">
                    <model behaviour="alternate" cssClass="semantic">
                        <desc>Display measurement with given parameters in tooltip and highlight text with color</desc>
                        <param name="default" value="."/>
                       <param name="alternate" value="(@type, text{': '}, @quantity, text{' '}, @origin, text{' '}, @unit, text{' '}, @commodity)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model predicate="not(preceding::pb[ancestor::text])" behaviour="omit">
                        <desc>Hide the very first pagebreak in a document</desc>
                    </model>
                    <model predicate="preceding::pb[ancestor::text]" behaviour="omit">
                        <desc>Hide the very first pagebreak in a document</desc>
                    </model>
                    <model predicate="not(@*)" behaviour="alternate">
                        <desc>Show tooltip on pagebreaks that don't contain attributes</desc>
                        <param name="default" value="."/>
                        <param name="alternate" value="text{'Seitenumbruch'}"/>
                    </model>
                    <model predicate="matches(@n, '\d+')" behaviour="break" cssClass="pb-pagination">
                        <desc>Show pagebreak with a label, if pb contains a @n attribute and its value only contains a number</desc>
                        <param name="type" value="'page'"/>
                        <param name="label" value="@n"/>
                    </model>
                    <model predicate="matches(@n, '\d+\w+')" behaviour="break" cssClass="pb-foliation">
                        <desc>Show pagebreak with a label, if pb contains a @n attribute and its value contains a number+string combination</desc>
                        <param name="type" value="'page'"/>
                        <param name="label" value="@n"/>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>