eXist_app/resources/odd/tei_simplePrint.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://jenkins.tei-c.org/job/TEIP5/lastSuccessfulBuild/artifact/P5/release/xml/tei/odd/p5.nvdl" type="application/xml" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:xi="http://www.w3.org/2001/XInclude">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>An Introduction to TEI simplePrint</title>
      </titleStmt>
      <publicationStmt>
        <p>For distribution from TEI </p>
      </publicationStmt>
      <sourceDesc>
        <p>This document was derived from the tutorial for TEI Lite, with substantial additions and
          modifications carried out within the TEI Simple project. It was also revised considerably
          for approval by the TEI Council.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <p>The following definitions provide support for the style of rendition URI recommended by the
        Simple documentation. For them to be effective in a given document, it will be necessary to
        include in that document a prefix definition which specifies the location of the Simple
        documentation (i.e. the present document) in its <att>replacementPattern</att> attribute. A
        suggested URI is given below.</p>
      <listPrefixDef>
        <prefixDef ident="simple" matchPattern="[a-z]+" replacementPattern="http://www.tei-c.org/Simple/tei_simple.odd/#$1"/>
      </listPrefixDef>
      <tagsDecl>
        <rendition xml:id="allcaps">text-transform: uppercase;</rendition>
        <rendition xml:id="blackletter">font-family: fantasy;</rendition>
        <rendition xml:id="bold">font-weight: bold;</rendition>
        <rendition xml:id="bottombraced">padding-bottom: 2pt; border-bottom: dashed gray
          2pt;</rendition>
        <rendition xml:id="block">display:block;</rendition>
        <rendition xml:id="boxed">padding: 2pt; border: solid black 1pt;</rendition>
        <rendition xml:id="centre">text-align: center;</rendition>
        <rendition xml:id="cursive">font-family: cursive;</rendition>
        <rendition xml:id="doublestrikethrough">text-decoration: line-through; color:
          red;</rendition>
        <rendition xml:id="doubleunderline">text-decoration: underline; color: red;</rendition>
        <rendition xml:id="dropcap">font-size : 6em; font-family: cursive; font-weight : bold;
          vertical-align: top; height: 1em; line-height: 1em; float : left; width : 1em; color :
          #c00; margin: 0em; padding: 0px;</rendition>
        <rendition xml:id="float">float:right; display: block; font-size: smaller; clear: right;
          padding: 4pt; width: 15%; </rendition>
        <rendition xml:id="hyphen"/>
        <rendition xml:id="inline">display:inline;</rendition>
        <rendition xml:id="italic">font-style: italic;</rendition>
        <rendition xml:id="justify">text-align: justify;</rendition>
        <rendition xml:id="larger">font-size: larger;</rendition>
        <rendition xml:id="left">text-align: left;</rendition>
        <rendition xml:id="leftbraced">padding-left: 2pt; border-left: dotted gray 2pt; </rendition>
        <rendition xml:id="letterspace">letter-spacing: 0.5em;</rendition>
        <rendition xml:id="literal">font-family:monospace; white-space:pre;</rendition>
        <rendition xml:id="normalstyle">font-style:roman;</rendition>
        <rendition xml:id="normalweight">font-weight:normal;</rendition>
        <rendition xml:id="right">text-align: right;</rendition>
        <rendition xml:id="rightbraced">padding-right: 2pt; border-right: dotted gray 2pt; </rendition>
        <rendition xml:id="rotateleft">-webkit-transform: rotate(90deg); transform:
          rotate(90deg);</rendition>
        <rendition xml:id="rotateright">-webkit-transform: rotate(-90deg); transform:
          rotate(-90deg);</rendition>
        <rendition xml:id="rules">border: 1px solid black; padding:
          2px;border-collapse:collapse;border-spacing:0;</rendition>
        <rendition xml:id="smallcaps">font-variant: small-caps;</rendition>
        <rendition xml:id="smaller">font-size: smaller;</rendition>
        <rendition xml:id="strikethrough">text-decoration: line-through;</rendition>
        <rendition xml:id="subscript">vertical-align: bottom; font-size: smaller;</rendition>
        <rendition xml:id="superscript">vertical-align: super; font-size: smaller;</rendition>
        <rendition xml:id="topbraced">padding-top: 2pt; border-top: dotted gray 2pt; </rendition>
        <rendition xml:id="typewriter">font-family:monospace;</rendition>
        <rendition xml:id="underline">text-decoration: underline;</rendition>
        <rendition xml:id="wavyunderline">text-decoration: underline; text-decoration-style:
          wavy;</rendition>
      </tagsDecl>
    </encodingDesc>
    <revisionDesc>
      <change when="2016-11-17">Implement name change finally agreed by Council</change>
      <change when="2016-10-26">Remove authority,sponsor,funder,principal; unicodeName
        localName; add discussion of charDecl</change>
      <change when="2016-10-12">More last minute changes to verbiage; checking examples for
        validity</change>
      <change when="2016-07-28">Check procmodtab; do att classes; re-insert valLists; add some
        graphics; proofread first half</change>
      <change when="2016-07-23">Rerun checks: remove space</change>
      <change when="2016-07-23">Beef up facsimile</change>
      <change when="2016-07-18">Add some prose at front; add particDesc listPerson and person </change>
      <change when="2016-06-29">Add JC hack for rendition; drastically revise proc mod
        section</change>
      <change when="2016-06-28">Add hdr sections on listPrefixDef, tagUsage, abstract, postscript,
        xenodata</change>
      <change when="2016-06-22">Continue adding discussions for all textual elements</change>
      <change when="2016-06-01"> Various minor tweaks to former Lite material. </change>
      <change when="2016-05-31">Rewrite Jane Eyre discussion a bit. Revise mentions of resourceLike
        elts. Remove weird PIs in valLists. Revise q/quote section to make sense.</change>
      <change when="2016-05-19">Remove initial project desc, XML intro, Simple propaganda, etc. Roll
        up sleeves. </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <head>Preface</head>
      <p>This document is the formal specification for TEI simplePrint, an entry-level customization of
        the Text Encoding Initiative (TEI) Guidelines, intended to be generally useful to a large
        variety of encoders attempting to cope with the standardized representation of a variety of
        documents in digital form.</p>
      <p>Like every other TEI customization, TEI simplePrint was designed for use with a particular type
        of material. If the material you are planning to encode matches the following criteria, then
        TEI simplePrint is for you. If it does not, it may not be. <list>
          <item>You are encoding print material, rather than manuscript: simplePrint provides no way of
            encoding manuscript features such as correction, deletion, or scribal variation</item>
          <item>You are encoding material from the Early Modern period (i.e., up to the end of the
            nineteenth century): some of the features for which simplePrint provides encodings are rarely
            found in modern materials.</item>
          <item>You are encoding material written, broadly speaking, within the Western European
            tradition, using largely Western European characters. simplePrint does provide facilities for
            encoding short passages in non Western European languages, but many features needed to
            cope with Asian or ancient scripts are missing. </item>
          <item>Your intention is to provide a relatively simple encoding for a large amount of
            material, rather than a rich encoding of a small amount of material: simplePrint is intended
            to help libraries and archives wishing to go beyond basic digital facsimiles, rather
            than to support specialist research. It does not, for example, include features for
            detailed linguistic tagging beyond simple word-level tagging, nor for specialised text
            types such as dictionaries, historical or biographical databases, etc. </item>
        </list> If your needs go beyond those summarized here, simplePrint may still be a good point of
        departure, and may be very useful as a basis for the creation of your own TEI customisation.
        We don't however discuss the creation of a TEI customization in this document: the TEI
        website provides a number of links to tutorial material and tools which may assist in this
        process. </p>
      <p>The present document is intended to be generally comprehensible and accessible, but does
        assume some knowledge of XML (the encoding language used by the TEI), and of the way it is
        used by the TEI. Further information on both these topics are available from many places,
        not least the TEI's own web site at <ptr target="http://www.tei-c.org"/>.</p>
      <p>The TEI simplePrint schema was first elaborated as a part of the TEI Simple project funded by the 
        <ref target="https://mellon.org/">Andrew W. Mellon Foundation</ref> (2012-2014). The project sought 
        to define a new <soCalled>highly-constrained and prescriptive subset</soCalled> of the Text Encoding 
        Initiative (TEI) Guidelines suited to the representation of early modern print materials, a 
        formally-defined set of processing rules which permit modern web applications to easily present 
        and analyze the encoded texts, mapping to other ontologies, and processes to describe the encoding 
        status and richness of a TEI digital text. Its choice of elements reflected the practices followed 
        in the encoding of large-scale literary archives, notably those produced by the Text Creation 
        Partnership. Practice of other comparable archives such as the German Text Archive was also taken 
        into account.</p>
      <p>The most distinctive feature of TEI simplePrint is its use of the TEI Processing Model, which
        provides explicit and recommended options for the display or processing of every textual
        element. Programmers developing systems to handle texts encoded with TEI simplePrint do not have
        to look beyond this when building stylesheets or other components. This greatly reduces the
        complexity of developing applications that will work reliably and consistently for many
        users and across large corpora of documents.</p>
      <p>The TEI simplePrint schema and the TEI Processing Model were first defined by a working group
        led by Martin Mueller (Northwestern University) and Sebastian Rahtz (Oxford University).
        Major contributions to the project were made by Magdalena Turska (Oxford University), James
        Cummings (Oxford University), and Brian Pytlik Zillig. The changes to the TEI scheme needed
        to support the TEI Processing Model were reviewed and approved by the TEI Technical Council
        for inclusion in release 3.0.0 of TEI P5 in February 2016. The present document was
        extensively revised and extended by Lou Burnard in July 2016 for submission to the TEI
        Technical Council. </p>
    </front>
    <body>
      <div xml:id="processingmodel">
        <head>The Simple Processing Model</head>
        <p>Unlike most other TEI customizations, TEI simplePrint includes documentation of the intended
          processing associated with the majority of elements. As noted above, the TEI provides
          components such as the <att>rendition</att> attribute to indicate the appearance of
          particular parts of a document in the non-digital source from which it is derived. With
          TEI simplePrint, it is also possible to indicate how in general an element should be processed,
          in particular its intended appearance when processed for display on a screen or on paper.
          This ability derives from a number of capabilities recently added to the TEI architecture
          for the specification of processing, which were developed as part of the project that
          defined the TEI simplePrint schema.</p>
        <p>The key feature of this <soCalled>Processing Model</soCalled> is a notation that allows
          the encoder to associate each element with one or more categories, which we call its
            <term>behaviour</term>s. In addition, the Processing Model indicates how the element
          should be rendered, possibly differently in differing circumstances, using the W3C
          Cascading Style Sheets (CSS) mentioned above. It is consequently much easier to develop
          processors for documents conforming to TEI simplePrint, since the complexity of the task is
          much reduced.</p>
        <p>Twenty-five different behaviours are currently defined by the TEI Processing Model. Their
          names indicate informally the categorization concerned, and should be readily
          comprehensible for most programmers. The following table indicates the TEI simplePrint elements
          associated with each:</p>
        <table>
          <row role="label">
            <cell>Behaviour</cell>
            <cell>Used by</cell>
            <cell>Effect</cell>
          </row>
          <row>
            <cell>alternate</cell>
            <cell>choice date</cell>
            <cell>support display of alternative visualisations, for example by displaying the
              preferred content, by displaying both in parallel, or by toggling between the
              two.</cell>
            <!-- document(model.xml)/elementSpec/attList/attDef[@ident='behaviour']/valList/valItem[@ident='{../cell[1]}']/desc -->
          </row>
          <row>
            <cell>anchor</cell>
            <cell>anchor </cell>
            <cell>create an identifiable anchor point in the output. </cell>
          </row>
          <row>
            <cell>block</cell>
            <cell>address addrLine argument back body byline closer dateline div docTitle epigraph
              figure floatingText formula front fw group head imprimatur l lg listBibl note opener
              postscript q quote role roleDesc salute signed sp speaker spGrp stage titlePage
              titlePart trailer </cell>
            <cell>create a block structure</cell>
          </row>
          <row>
            <cell>body</cell>
            <cell>text </cell>
            <cell>create the body of a document</cell>
          </row>
          <row>
            <cell>break</cell>
            <cell>cb lb pb</cell>
            <cell>create a line, column, or page break according to the value of
              <ident>type</ident>
                        </cell>
          </row>
          <row>
            <cell>cell</cell>
            <cell>cell </cell>
            <cell>create a table cell</cell>
          </row>
          <row>
            <cell>cit</cell>
            <cell>cit </cell>
            <cell>show the content, with an indication of the source</cell>
          </row>
          <row>
            <cell>document</cell>
            <cell>TEI </cell>
            <cell>start a new output document</cell>
          </row>
          <row>
            <cell>glyph</cell>
            <cell>g </cell>
            <cell>show a character by looking up reference to a chardesc at the given URI</cell>
          </row>
          <row>
            <cell>graphic</cell>
            <cell>graphic </cell>
            <cell>if <ident>URL</ident> is present, use it to display graphic, else display a
              placeholder image</cell>
          </row>
          <row>
            <cell>heading</cell>
            <cell>head </cell>
            <cell>creates a heading</cell>
          </row>
          <row>
            <cell>index</cell>
            <cell>body </cell>
            <cell>generate list according to type</cell>
          </row>
          <row>
            <cell>inline</cell>
            <cell>abbr actor add am author bibl biblScope c choice code corr date del desc docAuthor
              docDate docEdition docImprint editor email ex expan figDesc figure foreign formula fw
              g gap hi label measure milestone name note num orig pc q quote ref reg relatedItem
              rhyme rs s salute seg sic signed subst supplied time title unclear w </cell>
            <cell>creates inline element out of content if there's something in
                <gi>outputRendition</gi>, use that formatting; otherwise just show text of selected
              content</cell>
          </row>
          <row>
            <cell>link</cell>
            <cell>ref </cell>
            <cell>create hyperlink</cell>
          </row>
          <row>
            <cell>list</cell>
            <cell>castGroup castList list listBibl </cell>
            <cell>create a list</cell>
          </row>
          <row>
            <cell>listItem</cell>
            <cell>bibl castItem item </cell>
            <cell>create a list item</cell>
          </row>
          <row>
            <cell>metadata</cell>
            <cell>teiHeader </cell>
            <cell>create metadata section</cell>
          </row>
          <row>
            <cell>note</cell>
            <cell>note </cell>
            <cell>create a note, often out of line, depending on the value of place; could be
              margin, footnote, endnote, inline</cell>
          </row>
          <row>
            <cell>omit</cell>
            <cell>author editor publisher pubPlace profileDesc revisionDesc encodingDesc </cell>
            <cell> do nothing, do not process children </cell>
          </row>
          <row>
            <cell>paragraph</cell>
            <cell>ab p</cell>
            <cell>create a paragraph out of content</cell>
          </row>
          <row>
            <cell>row</cell>
            <cell>row </cell>
            <cell>create a table row</cell>
          </row>
          <row>
            <cell>section</cell>
            <cell>div </cell>
            <cell>create a new section of the output document</cell>
          </row>
          <row>
            <cell>table</cell>
            <cell>table </cell>
            <cell>create a table</cell>
          </row>
          <row>
            <cell>text</cell>
            <cell>title</cell>
            <cell>create literal text</cell>
          </row>
          <row>
            <cell>title</cell>
            <cell>fileDesc </cell>
            <cell>create document title</cell>
          </row>
        </table>
        <p>Full documentation of the Processing Model is provided in section <ptr target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/TD.html#TDPM"/> of the TEI
          Guidelines, and we do not describe it further here. </p>
      </div>
      <div>
        <head>The TEI simplePrint schema</head>
        <p>Like other TEI customizations, TEI simplePrint is defined by reference to the TEI Guidelines.
          The following reference documentation provides formal specifications for each element,
          model class, attribute class, macro and datatype it uses. These concepts are further
          explained in the TEI Guidelines. </p>
        <p>Specifications are provided here for each component which has been modified for inclusion
          in TEI simplePrint. Almost every textual element has been modified, if only to include a
          processing model component. Note that the cross references included in these
          specifications are to the section of the full TEI Guidelines where the subject is treated,
          and not to sections of the present document.</p>
        <schemaSpec ident="teisimpleprint" start="TEI teiCorpus">
          <specGrpRef target="#base"/>
          <specGrpRef target="#header"/>
          <specGrpRef target="#header2"/>
          <specGrpRef target="#attclasses"/>
          <specGrpRef target="#modelclasses"/>
          <specGrpRef target="#simpleelements"/>
          <specGrpRef target="#simpleelementspm"/>
          <specGrpRef target="#simplechanges"/>
        </schemaSpec>
        <div>
          <head>Summary of changes</head>
          <p>The TEI simplePrint schema uses the TEI infrastructure and gaiji modules unchanged. </p>
          <specGrp xml:id="base">
            <moduleRef key="tei"/>
            <moduleRef key="gaiji" include="g charDecl char glyph charName glyphName mapping"/>
          </specGrp>
          <p>A subset of 45 elements is selected from the TEI header module. In addition, elements
              <gi>particDesc</gi> and <gi>settingDesc</gi> are provided from the corpus module. The
            class membership of <gi>particDesc</gi> is changed to ensure that it can only appear
            inside <gi>profileDesc</gi>. Secondly, a Schematron rule is added to the <gi>text</gi>
            element to ensure that elements <gi>term</gi> and <gi>biblFull</gi> can appear only in
            the header element, even though the schema permits them additionally in text.</p>
          <specGrp xml:id="header">
            <moduleRef key="header" include="abstract               availability               biblFull               catDesc               catRef               category               change               classCode               classDecl               creation               distributor               edition               editionStmt               editorialDecl               encodingDesc               extent               fileDesc               idno               keywords               langUsage               language               licence               listChange               listPrefixDef               namespace               notesStmt               prefixDef               profileDesc               projectDesc               publicationStmt               refsDecl               rendition               revisionDesc               samplingDecl               seriesStmt               sourceDesc                tagUsage               tagsDecl               taxonomy               teiHeader               textClass               titleStmt               xenoData"/>

            <moduleRef key="corpus" include="particDesc settingDesc"/>

           
          </specGrp>

          <specGrp xml:id="header2">
            <elementSpec ident="text" mode="change">
              <constraintSpec xmlns:XSL="http://www.w3.org/1999/XSL/Transform" ident="headeronlyelement" scheme="isoschematron">
                <constraint>
                  <!-- <rule xmlns="http://purl.oclc.org/dsdl/schematron"
                    context="tei:att | tei:biblFull | tei:biblStruct | tei:change | tei:charDecl | tei:charProp | tei:editor
                    | tei:editorialDecl | tei:email | tei:encodingDesc | tei:extent | tei:fileDesc | tei:gi | tei:glyph | tei:glyphName | 
                    tei:idno | tei:imprint | tei:keywords | tei:licence | tei:listChange | tei:listPerson | tei:localName | tei:monogr | 
                    tei:msDesc | tei:msIdentifier | tei:person | tei:physDesc | tei:profileDesc | tei:publicationStmt | tei:relatedItem | 
                    tei:repository | tei:resp | tei:respStmt | tei:sourceDesc | tei:tag | tei:teiHeader | tei:term | tei:textClass | tei:textDesc 
                    | tei:titleStmt | tei:typeDesc | tei:val | tei:value">-->
                  <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:term | tei:biblFull ">
                    <report test="ancestor::tei:text">Error: The element <name/> is not permitted
                      outside the header</report>
                  </rule>
                </constraint>
              </constraintSpec>
            </elementSpec>
          </specGrp>

          <p>Some attributes and attribute classes are removed. The range of values available for
            several attributes is constrained. </p>
          <specGrp xml:id="attclasses">

            <!-- add attribute classes needed from other modules -->
            <classRef key="att.global.facs"/>

            <!-- CS: delete explicitly unused attribute classes according to classes.odd.xml-->
            <classSpec ident="att.anchoring" type="atts" mode="delete"/>
            <classSpec ident="att.ascribed" type="atts" mode="delete"/>
            <classSpec ident="att.ascribed.directed" type="atts" mode="delete"/>
            <classSpec ident="att.breaking" type="atts" mode="delete"/>
            <classSpec ident="att.citeStructurePart" type="atts" mode="delete"/>
            <classSpec ident="att.citing" type="atts" mode="delete"/>
            <classSpec ident="att.combinable" type="atts" mode="delete"/>
            <classSpec ident="att.coordinated" type="atts" mode="delete"/>
            <classSpec ident="att.cReferencing" type="atts" mode="delete"/>
            <classSpec ident="att.datable.iso" type="atts" mode="delete"/>
            <classSpec ident="att.datable.w3c" type="atts" mode="delete"/>
            <classSpec ident="att.datcat" type="atts" mode="delete"/>
            <classSpec ident="att.declarable" type="atts" mode="delete"/>
            <classSpec ident="att.declaring" type="atts" mode="delete"/>
            <classSpec ident="att.deprecated" type="atts" mode="delete"/>
            <classSpec ident="att.divLike" type="atts" mode="delete"/>
            <classSpec ident="att.docStatus" type="atts" mode="delete"/>
            <classSpec ident="att.duration" type="atts" mode="delete"/>
            <classSpec ident="att.duration.w3c" type="atts" mode="delete"/>
            <classSpec ident="att.edition" type="atts" mode="delete"/>
            <classSpec ident="att.editLike" type="atts" mode="delete"/>
            <classSpec ident="att.enjamb" type="atts" mode="delete"/>
            <classSpec ident="att.entryLike" type="atts" mode="delete"/>
            <classSpec ident="att.formula" type="atts" mode="delete"/>
            <classSpec ident="att.fragmentable" type="atts" mode="delete"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="delete"/>
            <classSpec ident="att.global.analytic" type="atts" mode="delete"/>
            <classSpec ident="att.global.change" type="atts" mode="delete"/>
            <classSpec ident="att.global.linking" type="atts" mode="delete"/>
            <classSpec ident="att.global.source" type="atts" mode="delete"/>
            <classSpec ident="att.identified" type="atts" mode="delete"/>
            <classSpec ident="att.internetMedia" type="atts" mode="delete"/>
            <classSpec ident="att.interpLike" type="atts" mode="delete"/>
            <classSpec ident="att.lexikographic" type="atts" mode="delete"/>
            <classSpec ident="att.lexikographic.normalized" type="atts" mode="delete"/>
            <classSpec ident="att.linguistic" type="atts" mode="delete"/>
            <classSpec ident="att.locatable" type="atts" mode="delete"/>
            <classSpec ident="att.media" type="atts" mode="delete"/>
            <classSpec ident="att.metrical" type="atts" mode="delete"/>
            <classSpec ident="att.milestoneUnit" type="atts" mode="delete"/>
            <classSpec ident="att.msClass" type="atts" mode="delete"/>
            <classSpec ident="att.msExcerpt" type="atts" mode="delete"/>
            <classSpec ident="att.namespaceable" type="atts" mode="delete"/>
            <classSpec ident="att.notated" type="atts" mode="delete"/>
            <classSpec ident="att.partials" type="atts" mode="delete"/>
            <classSpec ident="att.patternReplacement" type="atts" mode="delete"/>
            <classSpec ident="att.personal" type="atts" mode="delete"/>
            <classSpec ident="att.pointing.group" type="atts" mode="delete"/>
            <classSpec ident="att.predicate" type="atts" mode="delete"/>
            <classSpec ident="att.ranging" type="atts" mode="delete"/>
            <classSpec ident="att.rdgPart" type="atts" mode="delete"/>
            <classSpec ident="att.repeatable" type="atts" mode="delete"/>
            <classSpec ident="att.segLike" type="atts" mode="delete"/>
            <classSpec ident="att.sortable" type="atts" mode="delete"/>
            <classSpec ident="att.styleDef" type="atts" mode="delete"/>
            <classSpec ident="att.textCritical" type="atts" mode="delete"/>
            <classSpec ident="att.timed" type="atts" mode="delete"/>
            <classSpec ident="att.transcriptional" type="atts" mode="delete"/>
            <classSpec ident="att.translatable" type="atts" mode="delete"/>
            
            <!-- CS: remove explicitly unused attributes from all used classes according to classes.odd.xml-->
            <classSpec type="atts" ident="att.canonical" mode="change">
              <attList>
                <attDef ident="key" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
              <attList>
                <attDef ident="degree" mode="delete"/>
                <attDef ident="group" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.datable.custom" type="atts" mode="change">
              <attList>
                <attDef ident="datingMethod" mode="delete"/>
                <attDef ident="datingPoint" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
              <attList>
                <attDef ident="extent" mode="delete"/>
                <attDef ident="precision" mode="delete"/>
                <attDef ident="scope" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.global" type="atts" mode="change">
              <attList>
                <attDef ident="xml:base" mode="delete"/>
                <attDef ident="xml:space" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.global.rendition" type="atts" mode="change">
              <attList>
                <attDef ident="rendition" mode="delete"/>
                <attDef ident="style" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" type="atts" mode="change">
              <attList>
                <attDef ident="medium" mode="delete"/>
                <attDef ident="scope" mode="delete"/>
                <attDef ident="scribeRef" mode="delete"/>
                <attDef ident="script" mode="delete"/>
                <attDef ident="scriptRef" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.measurement" type="atts" mode="change">
              <attList>
                <attDef ident="unitRef" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
              <classes mode="replace"/>
              <attList>
                <attDef ident="nymRef" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
              <attList>
                <attDef ident="evaluate" mode="delete"/>
                <attDef ident="targetLang" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.scoping" type="atts" mode="change">
              <attList>
                <attDef ident="target" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.tableDecoration" type="atts" mode="change">
              <attList>
                <attDef ident="cols" mode="delete"/>
                <attDef ident="rows" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
              <attList>
                <attDef ident="subtype" mode="delete"/>
              </attList>
            </classSpec>
            
            <!--add constraints to ensure that the target of a local pointer
              must have a corresponding identifier -->
            <classSpec type="atts" ident="att.pointing" mode="change">
              <attList>
                <attDef ident="target" mode="change">
                  <constraintSpec ident="validtarget" scheme="isoschematron">
                    <constraint>
                      <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:*[@target]">
                        <let name="results" value="for $t in  tokenize(normalize-space(@target),'\s+') return starts-with($t,'#') and not(id(substring($t,2)))"/>
                        <report test="some $x in $results  satisfies $x"> Error: Every local pointer
                          in "<value-of select="@target"/>" must point to an ID in this document
                            (<value-of select="$results"/>)</report>
                      </rule>
                    </constraint>
                  </constraintSpec>
                </attDef>
              </attList>
            </classSpec>
            <classSpec type="atts" ident="att.global.rendition" mode="change">
              <constraintSpec ident="renditionpointer" scheme="isoschematron">
                <constraint>
                  <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:*[@rendition]">
                    <let name="results" value="for $val in tokenize(normalize-space(@rendition),'\s+') return starts-with($val,'simple:')        or        (starts-with($val,'#')        and        //tei:rendition[@xml:id=substring($val,2)])"/>
                    <assert test="every $x in $results satisfies $x"> Error: Each of the rendition
                      values in "<value-of select="@rendition"/>" must point to a local ID or to a
                      token in the Simple scheme (<value-of select="$results"/>)</assert>
                  </rule>
                </constraint>
              </constraintSpec>
              <constraintSpec ident="corresppointer" scheme="isoschematron">
                <constraint>
                  <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:*[@corresp]">
                    <let name="results" value="for $t in tokenize(normalize-space(@corresp),'\s+') return starts-with($t,'#') and not(id(substring($t,2)))"/>
                    <report test="some $x in $results  satisfies $x"> Error: Every local pointer in
                        "<value-of select="@corresp"/>" must point to an ID in this document
                        (<value-of select="$results"/>)</report>
                  </rule>
                </constraint>
              </constraintSpec>
            </classSpec>

            <classSpec type="atts" ident="att.global.rendition" mode="change">
              <!-- remove unused attributes @rend and @style; constrain values for @rendition -->
              <attList>
                <attDef ident="rend" mode="delete"/>
                <attDef ident="style" mode="delete"/>
                <attDef ident="rendition" mode="change">
                  <valList mode="add" type="semi">
                    <valItem ident="simple:allcaps">
                      <desc versionDate="2016-08-15" xml:lang="en">all capitals</desc>
                    </valItem>
                    <valItem ident="simple:blackletter">
                      <desc versionDate="2016-08-15" xml:lang="en">black letter or gothic
                        typeface</desc>
                    </valItem>
                    <valItem ident="simple:bold">
                      <desc versionDate="2016-08-15" xml:lang="en">bold typeface</desc>
                    </valItem>
                    <valItem ident="simple:bottombraced">
                      <desc versionDate="2016-08-15" xml:lang="en">marked with a brace under the
                        bottom of the text</desc>
                    </valItem>
                    <valItem ident="simple:boxed">
                      <desc versionDate="2016-08-15" xml:lang="en">border around the text</desc>
                    </valItem>
                    <valItem ident="simple:centre">
                      <desc versionDate="2016-08-15" xml:lang="en">centred</desc>
                    </valItem>
                    <valItem ident="simple:cursive">
                      <desc versionDate="2016-08-15" xml:lang="en">cursive typeface</desc>
                    </valItem>
                    <valItem ident="simple:display">
                      <desc versionDate="2016-08-15" xml:lang="en">block display</desc>
                    </valItem>
                    <valItem ident="simple:doublestrikethrough">
                      <desc versionDate="2016-08-15" xml:lang="en">strikethrough with double
                        line</desc>
                    </valItem>
                    <valItem ident="simple:doubleunderline">
                      <desc versionDate="2016-08-15" xml:lang="en">underlined with double
                        line</desc>
                    </valItem>
                    <valItem ident="simple:dropcap">
                      <desc versionDate="2016-08-15" xml:lang="en">initial letter larger or
                        decorated</desc>
                    </valItem>
                    <valItem ident="simple:float">
                      <desc versionDate="2016-08-15" xml:lang="en">floated out of main flow</desc>
                    </valItem>
                    <valItem ident="simple:hyphen">
                      <desc versionDate="2016-08-15" xml:lang="en">with a hyphen here (eg in line
                        break)</desc>
                    </valItem>
                    <valItem ident="simple:inline">
                      <desc versionDate="2016-08-15" xml:lang="en">inline rendering</desc>
                    </valItem>
                    <valItem ident="simple:justify">
                      <desc versionDate="2016-08-15" xml:lang="en">justified text</desc>
                    </valItem>
                    <valItem ident="simple:italic">
                      <desc versionDate="2016-08-15" xml:lang="en">italic typeface</desc>
                    </valItem>
                    <valItem ident="simple:larger">
                      <desc versionDate="2016-08-15" xml:lang="en">larger type</desc>
                    </valItem>
                    <valItem ident="simple:left">
                      <desc versionDate="2016-08-15" xml:lang="en">aligned to the left or
                        left-justified</desc>
                    </valItem>
                    <valItem ident="simple:leftbraced">
                      <desc versionDate="2016-08-15" xml:lang="en">marked with a brace on the left
                        side of the text</desc>
                    </valItem>
                    <valItem ident="simple:letterspace">
                      <desc versionDate="2016-08-15" xml:lang="en">larger-than-normal spacing
                        between letters, usually for emphasis</desc>
                    </valItem>
                    <valItem ident="simple:literal">
                      <desc versionDate="2016-08-15" xml:lang="en">fixed-width typeface, spacing
                        preserved</desc>
                    </valItem>
                    <valItem ident="simple:normalstyle">
                      <desc versionDate="2016-08-15" xml:lang="en">upright shape and default weight
                        of typeface</desc>
                    </valItem>
                    <valItem ident="simple:normalweight">
                      <desc versionDate="2016-08-15" xml:lang="en">normal typeface weight</desc>
                    </valItem>
                    <valItem ident="simple:right">
                      <desc versionDate="2016-08-15" xml:lang="en">aligned to the right or
                        right-justified</desc>
                    </valItem>
                    <valItem ident="simple:rightbraced">
                      <desc versionDate="2016-08-15" xml:lang="en">marked with a brace to the right
                        of the text</desc>
                    </valItem>
                    <valItem ident="simple:rotateleft">
                      <desc versionDate="2016-08-15" xml:lang="en">rotated to the left</desc>
                    </valItem>
                    <valItem ident="simple:rotateright">
                      <desc versionDate="2016-08-15" xml:lang="en">rotated to the right</desc>
                    </valItem>
                    <valItem ident="simple:smallcaps">
                      <desc versionDate="2016-08-15" xml:lang="en">small caps</desc>
                    </valItem>
                    <valItem ident="simple:smaller">
                      <desc versionDate="2016-08-15" xml:lang="en">smaller type</desc>
                    </valItem>
                    <valItem ident="simple:strikethrough">
                      <desc versionDate="2016-08-15" xml:lang="en">strike through</desc>
                    </valItem>
                    <valItem ident="simple:subscript">
                      <desc versionDate="2016-08-15" xml:lang="en">subscript</desc>
                    </valItem>
                    <valItem ident="simple:superscript">
                      <desc versionDate="2016-08-15" xml:lang="en">superscript</desc>
                    </valItem>
                    <valItem ident="simple:topbraced">
                      <desc versionDate="2016-08-15" xml:lang="en">marked with a brace above the
                        text</desc>
                    </valItem>
                    <valItem ident="simple:typewriter">
                      <desc versionDate="2016-08-15" xml:lang="en">fixed-width typeface, like
                        typewriter</desc>
                    </valItem>
                    <valItem ident="simple:underline">
                      <desc versionDate="2016-08-15" xml:lang="en">underlined with single
                        line</desc>
                    </valItem>
                    <valItem ident="simple:wavyunderline">
                      <desc versionDate="2016-08-15" xml:lang="en">underlined with wavy line</desc>
                    </valItem>
                  </valList>
                </attDef>
              </attList>
            </classSpec>
            <classSpec type="atts" mode="change" ident="att.placement">
              <attList>
                <attDef ident="place" mode="change">
                  <valList type="closed" mode="replace">
                    <valItem ident="above">
                      <desc versionDate="2016-08-15" xml:lang="en">above the line</desc>
                    </valItem>
                    <valItem ident="below">
                      <desc versionDate="2016-08-15" xml:lang="en">below the line</desc>
                    </valItem>
                    <valItem ident="top">
                      <desc versionDate="2016-08-15" xml:lang="en">at the top of the page</desc>
                    </valItem>
                    <valItem ident="top-right">
                      <desc versionDate="2016-08-15" xml:lang="en">at the top right of the
                        page</desc>
                    </valItem>
                    <valItem ident="top-left">
                      <desc versionDate="2016-08-15" xml:lang="en">at the top left of the
                        page</desc>
                    </valItem>
                    <valItem ident="top-centre">
                      <desc versionDate="2016-08-15" xml:lang="en">at the top center of the
                        page</desc>
                    </valItem>
                    <valItem ident="bottom-right">
                      <desc versionDate="2016-08-15" xml:lang="en">at the bottom right of the
                        page</desc>
                    </valItem>
                    <valItem ident="bottom-left">
                      <desc versionDate="2016-08-15" xml:lang="en">at the bottom left of the
                        page</desc>
                    </valItem>
                    <valItem ident="bottom-centre">
                      <desc versionDate="2016-08-15" xml:lang="en">at the bottom centre of the
                        page</desc>
                    </valItem>
                    <valItem ident="bottom">
                      <desc versionDate="2016-08-15" xml:lang="en">at the foot of the page</desc>
                    </valItem>
                    <valItem ident="tablebottom">
                      <desc versionDate="2016-08-15" xml:lang="en">underneath a table</desc>
                    </valItem>
                    <valItem ident="margin-right">
                      <desc versionDate="2016-08-15" xml:lang="en">in the right-hand margin</desc>
                    </valItem>
                    <valItem ident="margin">
                      <desc versionDate="2016-08-15" xml:lang="en">in the outer margin</desc>
                    </valItem>
                    <valItem ident="margin-inner">
                      <desc versionDate="2016-08-15" xml:lang="en">in the inner margin</desc>
                    </valItem>
                    <valItem ident="margin-left">
                      <desc versionDate="2016-08-15" xml:lang="en">in the left-hand margin</desc>
                    </valItem>
                    <valItem ident="opposite">
                      <desc versionDate="2016-08-15" xml:lang="en">on the opposite, i.e. facing,
                        page.</desc>
                    </valItem>
                    <valItem ident="overleaf">
                      <desc versionDate="2016-08-15" xml:lang="en">on the other side of the
                        leaf.</desc>
                    </valItem>
                    <valItem ident="overstrike">
                      <desc versionDate="2016-08-15" xml:lang="en">superimposed on top of the
                        current context</desc>
                    </valItem>
                    <valItem ident="end">
                      <desc versionDate="2016-08-15" xml:lang="en">at the end of the volume.</desc>
                    </valItem>
                    <valItem ident="divend">
                      <desc versionDate="2016-08-15" xml:lang="en">at the end the current
                        division.</desc>
                    </valItem>
                    <valItem ident="parend">
                      <desc versionDate="2016-08-15" xml:lang="en">at the end the current
                        paragraph.</desc>
                    </valItem>
                    <valItem ident="inline">
                      <desc versionDate="2016-08-15" xml:lang="en">within the body of the
                        text.</desc>
                    </valItem>
                    <valItem ident="inspace">
                      <desc versionDate="2016-08-15" xml:lang="en">in a predefined space, for
                        example left by an earlier scribe.</desc>
                    </valItem>
                    <valItem ident="block">
                      <desc versionDate="2016-08-15" xml:lang="en">formatted as an indented
                        paragraph</desc>
                    </valItem>
                  </valList>
                </attDef>
              </attList>
            </classSpec>
            <classSpec type="atts" ident="att.dimensions" mode="change">
              <attList>
                <attDef ident="unit" mode="change">
                  <valList mode="add" type="closed">
                    <valItem ident="chars">
                      <desc versionDate="2016-08-15" xml:lang="en">characters</desc>
                    </valItem>
                    <valItem ident="lines">
                      <desc versionDate="2016-08-15" xml:lang="en">lines</desc>
                    </valItem>
                    <valItem ident="pages">
                      <desc versionDate="2016-08-15" xml:lang="en">pages</desc>
                    </valItem>
                    <valItem ident="words">
                      <desc versionDate="2016-08-15" xml:lang="en">words</desc>
                    </valItem>
                    <valItem ident="cm">
                      <desc versionDate="2016-08-15" xml:lang="en">centimetres</desc>
                    </valItem>
                    <valItem ident="mm">
                      <desc versionDate="2016-08-15" xml:lang="en">millimetre</desc>
                    </valItem>
                    <valItem ident="in">
                      <desc versionDate="2016-08-15" xml:lang="en">inches</desc>
                    </valItem>
                  </valList>
                </attDef>
                <attDef ident="precision" mode="delete"/>
              </attList>
            </classSpec>
          </specGrp>

          <specGrp xml:id="modelclasses">
            <p>The following unused model classes are removed.</p>
            <!-- why is this needed? the ODD processor should do it for you-->
            <classSpec type="model" ident="model.entryPart" mode="delete"/>
            <classSpec type="model" ident="model.placeNamePart" mode="delete"/>
            <classSpec type="model" ident="model.placeStateLike" mode="delete"/>
            <classSpec type="model" ident="model.egLike" mode="delete"/>
            <classSpec type="model" ident="model.offsetLike" mode="delete"/>
            <classSpec type="model" ident="model.pPart.msdesc" mode="delete"/>
            <classSpec type="model" ident="model.oddDecl" mode="delete"/>
            <classSpec type="model" ident="model.specDescLike" mode="delete"/>
            <classSpec type="model" ident="model.entryPart" mode="delete"/>
            <classSpec type="model" ident="model.placeNamePart" mode="delete"/>
            <classSpec type="model" ident="model.placeStateLike" mode="delete"/>
            <classSpec type="model" ident="model.certLike" mode="delete"/>
            <classSpec type="model" ident="model.glossLike" mode="delete"/>
          </specGrp>
          <!-- 
            These are the 113 textual elements selected for use in TEI simplePrint texts-->
          <!-- CS: Reduced this list according to main.odd.xml -->
          <specGrp xmlns:XSL="http://www.w3.org/1999/XSL/Transform" xml:id="simpleelements">
            <elementRef key="ab"/>
            <elementRef key="abbr"/>
            <elementRef key="add"/>
            <elementRef key="anchor"/>
            <elementRef key="author"/>
            <elementRef key="back"/>
            <elementRef key="bibl"/>
            <elementRef key="body"/>
            <elementRef key="cb"/>
            <elementRef key="cell"/>
            <elementRef key="choice"/>
            <elementRef key="corr"/>
            <elementRef key="date"/>
            <elementRef key="del"/>
            <elementRef key="div"/>
            <elementRef key="docImprint"/>
            <elementRef key="editor"/>
            <elementRef key="expan"/>
            <elementRef key="figure"/>
            <elementRef key="foreign"/>
            <elementRef key="fw"/>
            <elementRef key="gap"/>
            <elementRef key="graphic"/>
            <elementRef key="head"/>
            <elementRef key="hi"/>
            <elementRef key="item"/>
            <elementRef key="label"/>
            <elementRef key="lb"/>
            <elementRef key="list"/>
            <elementRef key="listBibl"/>
            <elementRef key="measure"/>
            <elementRef key="note"/>
            <elementRef key="num"/>
            <elementRef key="orig"/>
            <elementRef key="p"/>
            <elementRef key="pb"/>
            <elementRef key="publisher"/>
            <elementRef key="pubPlace"/>
            <elementRef key="q"/>
            <elementRef key="quote"/>
            <elementRef key="ref"/>
            <elementRef key="resp"/>
            <elementRef key="respStmt"/>
            <elementRef key="row"/>
            <elementRef key="seg"/>
            <elementRef key="sic"/>
            <elementRef key="signed"/>
            <elementRef key="subst"/>
            <elementRef key="supplied"/>
            <elementRef key="table"/>
            <elementRef key="TEI"/>
            <elementRef key="teiCorpus"/>
            <elementRef key="term"/>
            <elementRef key="text"/>
            <elementRef key="time"/>
            <elementRef key="title"/>
            <elementRef key="unclear"/>
          </specGrp>
          <p>The following elements are modified by the TEI simplePrint specification, mostly by the
            addition of a processing model, but in other cases by additional constraints on the
            attributes they may have, or the values those attributes may take. Additional examples
            are also provided for some of them. </p>
          <!-- CS: Reduced this list according to our schema -->
          <specGrp xml:id="simpleelementspm">
            <elementSpec ident="ab" mode="change">
              <model behaviour="paragraph"/>
            </elementSpec>
            <elementSpec ident="abbr" mode="change">
              <attList>
                <attDef ident="type" mode="change"/>
              </attList>
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="add" mode="change">
              <model behaviour="inline">
                <outputRendition>color: green; text-decoration: underline;</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="anchor" mode="change">
              <model behaviour="anchor">
                <param name="id" value="@xml:id"/>
              </model>
            </elementSpec>
            <elementSpec ident="author" mode="change">
              <model predicate="ancestor::teiHeader" behaviour="omit"/>
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="back" mode="change">
              <model behaviour="block"/>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
              <constraintSpec mode="add" ident="noEmptyBibl" scheme="isoschematron">
                <constraint>
                  <assert xmlns="http://purl.oclc.org/dsdl/schematron" test="child::* or child::text()[normalize-space()]" role="ERROR"> Element
                    "<name/>" may not be empty. </assert>
                </constraint>
              </constraintSpec>
              <model predicate="parent::listBibl" behaviour="listItem"/>
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="body" mode="change">
              <modelSequence>
                <model behaviour="block"/>
              </modelSequence>
            </elementSpec>
            <elementSpec ident="cb" mode="change">
              <model behaviour="break">
                <param name="type" value="'column'"/>
                <param name="label" value="@n"/>
              </model>
            </elementSpec>
            <elementSpec ident="cell" mode="change">
              <attList>
                <attDef ident="role" mode="change">
                  <valList mode="add" type="closed">
                    <valItem ident="data">
                      <desc versionDate="2016-08-15" xml:lang="en">data cell</desc>
                    </valItem>
                    <valItem ident="label">
                      <desc versionDate="2016-08-15" xml:lang="en">label cell</desc>
                    </valItem>
                    <valItem ident="sum">
                      <desc versionDate="2016-08-15" xml:lang="en">row or column sum data</desc>
                    </valItem>
                    <valItem ident="total">
                      <desc versionDate="2016-08-15" xml:lang="en">table total data</desc>
                    </valItem>
                  </valList>
                </attDef>
              </attList>
              <model behaviour="cell">
                <desc>Insert table cell. </desc>
              </model>
            </elementSpec>
            <elementSpec ident="choice" mode="change">
              <constraintSpec ident="choiceSize" scheme="isoschematron" mode="add">
                <constraint>
                  <assert xmlns="http://purl.oclc.org/dsdl/schematron" test="count(*) &gt; 1" role="ERROR"> Element "<name/>" must have at least two child elements.</assert>
                </constraint>
              </constraintSpec>
              <constraintSpec ident="choiceContent" scheme="isoschematron" mode="add">
                <constraint>
                  <assert xmlns="http://purl.oclc.org/dsdl/schematron" test="(tei:corr or tei:sic or tei:expan or tei:abbr) and ((tei:corr and tei:sic) or (tei:expan and tei:abbr))" role="ERROR"> Element "<name/>" must have corresponding corr/sic, expand/abbr</assert>
                </constraint>
              </constraintSpec>
              <model output="plain" predicate="sic and corr" behaviour="inline">
                <param name="content" value="corr[1]"/>
              </model>
              <model output="plain" predicate="abbr and expan" behaviour="inline">
                <param name="content" value="expan[1]"/>
              </model>
              <model predicate="sic and corr" behaviour="alternate">
                <param name="default" value="corr[1]"/>
                <param name="alternate" value="sic[1]"/>
              </model>
              <model predicate="abbr and expan" behaviour="alternate">
                <param name="default" value="expan[1]"/>
                <param name="alternate" value="abbr[1]"/>
              </model>
            </elementSpec>
            <elementSpec ident="corr" mode="change">
              <model predicate="parent::choice and count(parent::*/*) gt 1" behaviour="inline">
                <desc>simple inline, if in parent choice. </desc>
              </model>
              <model behaviour="inline">
                <outputRendition scope="before">content: '[';</outputRendition>
                <outputRendition scope="after">content: ']';</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="date" mode="change">
              <model output="print" predicate="text()" behaviour="inline"/>
              <model output="print" predicate="@when and not(text())" behaviour="inline">
                <param name="content" value="@when"/>
              </model>
              <model output="web" predicate="@when" behaviour="alternate">
                <param name="default" value="."/>
                <param name="alternate" value="@when"/>
              </model>
              <model predicate="text()" behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="del" mode="change">
              <model behaviour="inline">
                <outputRendition> text-decoration: line-through;</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="div" mode="change">
              <model behaviour="section" predicate="parent::body or parent::back"/>
              <model behaviour="block"/>
            </elementSpec>
            <elementSpec ident="docImprint" mode="change">
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="editor" mode="change">
              <model predicate="ancestor::teiHeader" behaviour="omit"/>
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
              <model behaviour="omit"/>
            </elementSpec>
            <elementSpec ident="expan" mode="change">
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="figure" mode="change">
              <model predicate="head or @rendition='simple:display'" behaviour="block"/>
              <model behaviour="inline">
                <outputRendition> display: block; border-top: solid 1pt blue; border-bottom: solid
                  1pt blue; </outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
              <model behaviour="title">
                <param name="content" value="titleStmt"/>
              </model>
            </elementSpec>
            <elementSpec ident="foreign" mode="change">
              <model behaviour="inline">
                <outputRendition>font-style:italic;</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="fw" mode="change">
              <model predicate="ancestor::p or ancestor::ab" behaviour="inline"/>
              <model behaviour="block"/>
            </elementSpec>
            <elementSpec ident="gap" mode="change">
              <content>
                <elementRef key="desc" minOccurs="0" maxOccurs="1"/>
              </content>
              <attList>
                <attDef ident="hand" mode="delete"/>
              </attList>
              <model predicate="desc" behaviour="inline">
                <outputRendition>color: grey;</outputRendition>
              </model>
              <model predicate="@extent" behaviour="inline">
                <param name="content" value="@extent"/>
                <outputRendition scope="before">content: '[..';</outputRendition>
                <outputRendition scope="after">content: '..]';</outputRendition>
                <outputRendition>color: grey;</outputRendition>
              </model>
              <model behaviour="inline">
                <outputRendition scope="before">content: '[...]';</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="graphic" mode="change">
              <model behaviour="graphic">
                <param name="url" value="@url"/>
                <param name="width" value="@width"/>
                <param name="height" value="@height"/>
                <param name="scale" value="@scale"/>
                <param name="title" value="desc"/>
              </model>
            </elementSpec>
            <elementSpec ident="head" mode="change">
              <model predicate="parent::figure" behaviour="block">
                <outputRendition>font-style: italic;</outputRendition>
              </model>
              <model predicate="parent::table" behaviour="block">
                <outputRendition>font-style: italic;</outputRendition>
              </model>
              <model predicate="parent::div" behaviour="heading">
                <param name="level" value="count(ancestor::div)"/>
              </model>
              <model behaviour="block"/>
            </elementSpec>
            <elementSpec ident="hi" mode="change">
              <model predicate="not(@rendition)" behaviour="inline">
                <outputRendition>font-style: italic;</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="item" mode="change">
              <model behaviour="listItem"/>
            </elementSpec>
            <elementSpec ident="label" mode="change">
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="lb" mode="change">
              <model behaviour="break" useSourceRendition="true">
                <param name="type" value="'line'"/>
                <param name="label" value="@n"/>
              </model>
            </elementSpec>
            <elementSpec ident="list" mode="change">
              <model predicate="not(@rendition)" behaviour="list">
                <param name="content" value="item"/>
              </model>
            </elementSpec>
            <elementSpec ident="listBibl" mode="change">
              <model predicate="bibl" behaviour="list">
                <param name="content" value="bibl"/>
              </model>
              <model behaviour="block"/>
            </elementSpec>
            <elementSpec ident="measure" mode="change">
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="note" mode="change">
              <model predicate="@place" behaviour="note">
                <param name="place" value="@place"/>
                <param name="label" value="@n"/>
              </model>
              <model predicate="parent::div and not(@place)" behaviour="block">
                <outputRendition>margin-left: 10px;margin-right: 10px;
                  font-size:smaller;</outputRendition>
              </model>
              <model predicate="not(@place)" behaviour="inline">
                <outputRendition scope="before">content:" [";</outputRendition>
                <outputRendition scope="after">content:"] ";</outputRendition>
                <outputRendition>font-size:small;</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="num" mode="change">
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="orig" mode="change">
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="p" mode="change">
              <model behaviour="paragraph" useSourceRendition="true">
                <outputRendition>text-align: justify;</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="pb" mode="change">
              <constraintSpec ident="pbposition" scheme="isoschematron">
                <constraint>
                  <report xmlns="http://purl.oclc.org/dsdl/schematron" test="parent::*/text() and not           (preceding-sibling::text() and           following-sibling::text())">please make sure pb elements are not at the start or end of mixed content
                  </report>
                </constraint>
              </constraintSpec>
              <model behaviour="break" useSourceRendition="true">
                <param name="type" value="'page'"/>
                <param name="label" value="(concat(if(@n) then concat(@n,' ') else '',if(@facs) then                   concat('@',@facs) else ''))"/>
                <outputRendition> display: block; margin-left: 4pt; color: grey; float: right; </outputRendition>
                <outputRendition scope="before">content: '[Page ';</outputRendition>
                <outputRendition scope="after">content: ']';</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
              <model behaviour="omit"/>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
              <model predicate="ancestor::teiHeader" behaviour="omit">
                <desc>Omit if located in teiHeader. </desc>
              </model>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
              <model predicate="ancestor::teiHeader" behaviour="omit">
                <desc>Omit if located in teiHeader. </desc>
              </model>
            </elementSpec>
            <elementSpec ident="q" mode="change">
              <model predicate="ancestor::p or ancestor::cell" behaviour="inline" useSourceRendition="true">
                <outputRendition scope="before">content: '‘';</outputRendition>
                <outputRendition scope="after">content: '’';</outputRendition>
              </model>
              <model behaviour="block" useSourceRendition="true">
                <outputRendition>margin-left: 10px; margin-right: 10px; </outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="quote" mode="change">
              <model predicate="ancestor::p" behaviour="inline" useSourceRendition="true">
                <outputRendition scope="before">content: '‘';</outputRendition>
                <outputRendition scope="after">content: '’';</outputRendition>
              </model>
              <model behaviour="block" useSourceRendition="true">
                <outputRendition>margin-left: 10px; margin-right: 10px; </outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="ref" mode="change">
              <model behaviour="inline" predicate="not(@target)"/>
              <model predicate="not(text())" behaviour="link">
                <param name="content" value="@target"/>
                <param name="link" value="@target"/>
              </model>
              <model behaviour="link">
                <param name="link" value="@target"/>
              </model>
            </elementSpec>
            <elementSpec ident="row" mode="change">
              <attList>
                <attDef ident="role" mode="change">
                  <valList mode="add" type="closed">
                    <valItem ident="data">
                      <desc versionDate="2016-08-15" xml:lang="en">data cell</desc>
                    </valItem>
                    <valItem ident="label">
                      <desc versionDate="2016-08-15" xml:lang="en">label cell</desc>
                    </valItem>
                    <valItem ident="sum">
                      <desc versionDate="2016-08-15" xml:lang="en">row or column sum data</desc>
                    </valItem>
                    <valItem ident="total">
                      <desc versionDate="2016-08-15" xml:lang="en">table total data</desc>
                    </valItem>
                  </valList>
                </attDef>
              </attList>
              <model behaviour="row">
                <desc>Insert table row. </desc>
              </model>
            </elementSpec>
            <elementSpec ident="seg" mode="change">
              <model behaviour="inline" useSourceRendition="true"/>
            </elementSpec>
            <elementSpec ident="sic" mode="change">
              <model predicate="parent::choice and count(parent::*/*) gt 1" behaviour="inline"/>
              <model behaviour="inline">
                <outputRendition scope="before">content: '{';</outputRendition>
                <outputRendition scope="after">content: '}';</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="signed" mode="change">
              <model behaviour="inline">
                <outputRendition> font-style: italic; </outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="subst" mode="change">
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="supplied" mode="change">
              <model predicate="@reason='damage'" behaviour="inline">
                <outputRendition scope="before">content:"&lt;";</outputRendition>
                <outputRendition scope="after">content:"&gt;";</outputRendition>
              </model>
              <model predicate="@reason='illegible' or not(@reason)" behaviour="inline">
                <outputRendition scope="before">content:"[";</outputRendition>
                <outputRendition scope="after">content:"]";</outputRendition>
              </model>
              <model predicate="@reason='omitted'" behaviour="inline">
                <outputRendition scope="before">content:"(";</outputRendition>
                <outputRendition scope="after">content:")";</outputRendition>
              </model>
              <model behaviour="inline">
                <outputRendition scope="before">content:"{";</outputRendition>
                <outputRendition scope="after">content:"}";</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="table" mode="change">
              <model behaviour="table">
                <outputRendition> font-size: smaller; background-color: #F0F0F0; </outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="TEI" mode="change">
              <attList>
                <attDef ident="version" mode="delete"/>
              </attList>
              <model behaviour="document"/>
            </elementSpec>
            <elementSpec ident="teiHeader" mode="change">
              <attList>
                <attDef ident="type" mode="delete"/>
              </attList>
              <model behaviour="metadata"/> 
            </elementSpec>
            <elementSpec ident="text" mode="change">
              <model behaviour="body">
                <outputRendition> max-width: 80%; margin: auto; font-family: Verdana, Tahoma,
                  Geneva, Arial, Helvetica, sans-serif; </outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="time" mode="change">
              <model behaviour="inline"/>
            </elementSpec>
            <elementSpec ident="title" mode="change">
              <modelSequence predicate="parent::titleStmt/parent::fileDesc">
                <model predicate="preceding-sibling::title" behaviour="text">
                  <param name="content" value="' — '"/>
                </model>
                <model behaviour="inline">
                  <outputRendition>color: red; font-size: 2em;</outputRendition>
                </model>
              </modelSequence>
              <model predicate="not(@level) and parent::bibl" behaviour="inline"/>
              <model behaviour="inline">
                <outputRendition>font-style: italic;</outputRendition>
              </model>
            </elementSpec>
            <elementSpec ident="unclear" mode="change">
              <attList>
                <attDef ident="hand" mode="delete"/>
              </attList>
              <model behaviour="inline">
                <outputRendition scope="after">content: ' [?] ';</outputRendition>
              </model>
            </elementSpec>
          </specGrp>
        </div>
      </div>
    </body>
  </text>
</TEI>